# Disabling all files by default
*

!README.md

# Git
!.gitignore

# VSCode
!.vscode/
!.vscode/*
!.vscode/launch.json
!.vscode/settings.json
!.vscode/extensions.json

# Source code
!src
!src/*
!src/**/*
library/.DS_Store
library/**/.DS_Store

# Public files
!public
!public/**
!public/**/.DS_Store


# Vite
!index.html
!vite.config.ts

# Biome
!biome.json


# Github
!.github
# Github Actions
!.github/workflows
!.github/workflows/*
!.github/workflows/**/*.yaml

!wrangler.jsonc

# NPM
!.npmignore
!package.json
!package-lock.json

# TypeScript
!tsconfig.json
!tsconfig.library.json
!tsconfig.node.json

!components.json

.DS_Store
