openapi: 3.0.0
info:
  version: 0.x
  title: aggregated
  contact:
    email: dev@wealthcome.fr
    url: https://wealthcome.fr
servers:
- url: https://services.preproduction.wealthcome.fr/aggregated
  description: preproduction
- url: https://services.wealthcome.fr/aggregated
  description: production
tags:
- name: Company
  description: Company related endpoints
- name: Customer
  description: Customer related endpoints
- name: Task
  description: Task related endpoints
- name: Team
  description: Team related endpoints
security:
- BearerAuth:
  - Bearer
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Apple Paris
      required:
      - id
      - name
    Customer:
      type: object
      properties:
        id:
          type: string
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Jean dupont
        created:
          type: string
          description: The date of creation of the customer
          example: 2024-01-01T00:00:00.000Z
        updated:
          type: string
          description: The date of the last update of the customer
          example: 2024-01-01T00:00:00.000Z
        general:
          anyOf:
          - type: object
            nullable: true
            properties:
              entryDateIntoRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              originCustomerRelationship:
                type: string
                nullable: true
              contactCustomerRelationship:
                type: string
                nullable: true
              remoteOpening:
                type: boolean
                nullable: true
              dateLastMeeting:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              entryIntoRelationshipNote:
                type: string
                nullable: true
              gender:
                type: string
                nullable: true
                enum:
                - male
                - female
                default: male
              name:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              firstName:
                type: string
                nullable: true
              birthDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              birthZipCode:
                type: string
                nullable: true
              birthRegion:
                type: string
                nullable: true
              birthCity:
                type: string
                nullable: true
              birthName:
                type: string
                nullable: true
              deathDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              familySituation:
                type: string
                nullable: true
                enum:
                - single
                - inARelationship
                - married
                - civilUnion
                - divorced
                - separated
                - widowed
                - domesticPartnership
                - freeUnion
                - cohabitation
                - pendingDivorce
                - remarried
                - deceased
              nationality:
                type: string
                nullable: true
              matrimonialRegime:
                type: string
                nullable: true
              studiesLevel:
                type: string
                nullable: true
                enum:
                - none
                - certificate
                - highSchool
                - bachelor
                - master
                - doctorate
              occupation:
                type: string
                nullable: true
              occupationWording:
                type: string
                nullable: true
              retirementAge:
                type: number
                nullable: true
              annualIncome:
                anyOf:
                - type: string
                - type: number
                - nullable: true
              heritageOrigin:
                type: string
                nullable: true
              seniorAdvisor:
                type: string
                nullable: true
              secondaryAdvisor:
                type: string
                nullable: true
              dateEntryRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idCard:
                type: string
                nullable: true
              idNumber:
                type: string
                nullable: true
              issueDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              authority:
                type: string
                nullable: true
              expirationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idNIF:
                type: string
                nullable: true
              idMIF:
                type: string
                nullable: true
              taxResidence:
                type: string
                nullable: true
              customerClassificationMIF:
                type: string
                nullable: true
              classificationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              pep:
                type: boolean
                nullable: true
              usPerson:
                type: boolean
                nullable: true
              legalCapacity:
                type: string
                nullable: true
              tag:
                type: string
                nullable: true
              updated:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              homeAdress:
                type: string
                nullable: true
              complement:
                type: string
                nullable: true
              postalCode:
                type: string
                nullable: true
              note:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              secondaryNationality:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              professionalCategory:
                type: string
                nullable: true
          - type: object
            nullable: true
            properties:
              entryDateIntoRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              originCustomerRelationship:
                type: string
                nullable: true
              contactCustomerRelationship:
                type: string
                nullable: true
              remoteOpening:
                type: boolean
                nullable: true
              dateLastMeeting:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              entryIntoRelationshipNote:
                type: string
                nullable: true
              gender:
                type: string
                nullable: true
                enum:
                - male
                - female
                default: male
              name:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              firstName:
                type: string
                nullable: true
              birthDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              birthZipCode:
                type: string
                nullable: true
              birthRegion:
                type: string
                nullable: true
              birthCity:
                type: string
                nullable: true
              birthName:
                type: string
                nullable: true
              deathDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              familySituation:
                type: string
                nullable: true
                enum:
                - single
                - inARelationship
                - married
                - civilUnion
                - divorced
                - separated
                - widowed
                - domesticPartnership
                - freeUnion
                - cohabitation
                - pendingDivorce
                - remarried
                - deceased
              nationality:
                type: string
                nullable: true
              matrimonialRegime:
                type: string
                nullable: true
              studiesLevel:
                type: string
                nullable: true
                enum:
                - none
                - certificate
                - highSchool
                - bachelor
                - master
                - doctorate
              occupation:
                type: string
                nullable: true
              occupationWording:
                type: string
                nullable: true
              retirementAge:
                type: number
                nullable: true
              annualIncome:
                anyOf:
                - type: string
                - type: number
                - nullable: true
              heritageOrigin:
                type: string
                nullable: true
              seniorAdvisor:
                type: string
                nullable: true
              secondaryAdvisor:
                type: string
                nullable: true
              dateEntryRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idCard:
                type: string
                nullable: true
              idNumber:
                type: string
                nullable: true
              issueDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              authority:
                type: string
                nullable: true
              expirationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idNIF:
                type: string
                nullable: true
              idMIF:
                type: string
                nullable: true
              taxResidence:
                type: string
                nullable: true
              customerClassificationMIF:
                type: string
                nullable: true
              classificationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              pep:
                type: boolean
                nullable: true
              usPerson:
                type: boolean
                nullable: true
              legalCapacity:
                type: string
                nullable: true
              tag:
                type: string
                nullable: true
              updated:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              homeAdress:
                type: string
                nullable: true
              complement:
                type: string
                nullable: true
              postalCode:
                type: string
                nullable: true
              note:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              secondaryNationality:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              professionalCategory:
                type: string
                nullable: true
              information:
                anyOf:
                - type: object
                  properties:
                    socialReason:
                      type: string
                    contact:
                      type: string
                      nullable: true
                    firstAddress:
                      type: string
                      nullable: true
                    secondAddress:
                      type: string
                      nullable: true
                    postalCode:
                      type: string
                      nullable: true
                    city:
                      type: string
                      nullable: true
                    country:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    fax:
                      type: string
                      nullable: true
                    email:
                      type: string
                      nullable: true
                    website:
                      type: string
                      nullable: true
                - type: object
                  properties:
                    socialReason:
                      type: string
                      minLength: 1
                    holdingId:
                      type: string
                      nullable: true
                    siren:
                      type: string
                    siret:
                      type: string
                    ape:
                      type: string
                    creationDate:
                      type: string
                      nullable: true
                    legalForm:
                      type: string
                      nullable: true
                    socialCapital:
                      type: number
                    headOfficeAddress:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                    managers:
                      type: array
                      items:
                        type: object
                        properties:
                          managerID:
                            type: string
                          primary:
                            type: boolean
                        required:
                        - managerID
                        - primary
                    seniorAdvisor:
                      type: string
                    secondaryAdvisor:
                      type: string
                    entryDateIntoRelationship:
                      type: string
                      nullable: true
                    originCustomerRelationship:
                      type: string
                    contactCustomerRelationship:
                      type: string
                    remoteOpening:
                      type: boolean
                    dateLastMeeting:
                      type: string
                      nullable: true
                    entryIntoRelationshipNote:
                      type: string
                    ownership:
                      type: number
                      nullable: true
                    valuation:
                      type: number
                      nullable: true
                - nullable: true
              managers:
                type: object
                nullable: true
                properties:
                  lastNameFirstName:
                    type: string
                  function:
                    type: string
                  birthDate:
                    type: string
                    nullable: true
                  nationality:
                    type: string
                  personalAddress:
                    type: string
                  personalPhoneNumber:
                    type: string
                  personalEmailAddress:
                    type: string
                  shareholderInformation:
                    type: string
                  idCard:
                    type: string
                  idNumber:
                    type: string
              nbManagers:
                type: object
                nullable: true
                properties:
                  lastNameFirstName:
                    type: string
                  function:
                    type: string
                  birthDate:
                    type: string
                    nullable: true
                  nationality:
                    type: string
                  personalAddress:
                    type: string
                  personalPhoneNumber:
                    type: string
                  personalEmailAddress:
                    type: string
                  shareholderInformation:
                    type: string
                  idCard:
                    type: string
                  idNumber:
                    type: string
              bankAccounts:
                type: object
                nullable: true
                properties:
                  banks:
                    type: string
                  iban:
                    type: string
                  bankAccountNumbers:
                    type: string
                  bic:
                    type: string
              activities:
                type: object
                nullable: true
                properties:
                  mainActivities:
                    type: string
                  secondaryActivities:
                    type: string
                  clients:
                    type: string
                  suppliers:
                    type: string
                  competitors:
                    type: string
          - nullable: true
        details:
          type: object
          nullable: true
          properties:
            street:
              type: string
              nullable: true
            zipCode:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
            addressSupplement:
              type: string
              nullable: true
            workStreet:
              type: string
              nullable: true
            workZipCode:
              type: string
              nullable: true
            workCity:
              type: string
              nullable: true
            workAddressSupplement:
              type: string
              nullable: true
            otherStreet:
              type: string
              nullable: true
            otherZipCode:
              type: string
              nullable: true
            otherCity:
              type: string
              nullable: true
            otherAddressSupplement:
              type: string
              nullable: true
            firstPhoneNumber:
              type: string
              nullable: true
            secondPhoneNumber:
              type: string
              nullable: true
            personalEmail:
              type: string
              nullable: true
            otherEmail:
              type: string
              nullable: true
            fiscalAddress:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
            otherCountry:
              type: string
              nullable: true
            workCountry:
              type: string
              nullable: true
      required:
      - id
      - name
      - created
      - updated
    Team:
      type: object
      properties:
        name:
          type: string
          example: interns
        descritpion:
          type: string
          example: a team of interns
      required:
      - name
    Entity:
      type: object
      properties:
        id:
          type: string
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
          readOnly: true
        name:
          type: string
          example: Jean dupont
          readOnly: true
        created:
          type: string
          nullable: true
          description: The date of creation of the customer
          example: 2024-01-01T00:00:00.000Z
          readOnly: true
        updated:
          type: string
          description: The date of the last update of the customer
          example: 2024-01-01T00:00:00.000Z
        general:
          anyOf:
          - type: object
            nullable: true
            properties:
              entryDateIntoRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              originCustomerRelationship:
                type: string
                nullable: true
              contactCustomerRelationship:
                type: string
                nullable: true
              remoteOpening:
                type: boolean
                nullable: true
              dateLastMeeting:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              entryIntoRelationshipNote:
                type: string
                nullable: true
              gender:
                type: string
                nullable: true
                enum:
                - male
                - female
                default: male
              name:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              firstName:
                type: string
                nullable: true
              birthDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              birthZipCode:
                type: string
                nullable: true
              birthRegion:
                type: string
                nullable: true
              birthCity:
                type: string
                nullable: true
              birthName:
                type: string
                nullable: true
              deathDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              familySituation:
                type: string
                nullable: true
                enum:
                - single
                - inARelationship
                - married
                - civilUnion
                - divorced
                - separated
                - widowed
                - domesticPartnership
                - freeUnion
                - cohabitation
                - pendingDivorce
                - remarried
                - deceased
              nationality:
                type: string
                nullable: true
              matrimonialRegime:
                type: string
                nullable: true
              studiesLevel:
                type: string
                nullable: true
                enum:
                - none
                - certificate
                - highSchool
                - bachelor
                - master
                - doctorate
              occupation:
                type: string
                nullable: true
              occupationWording:
                type: string
                nullable: true
              retirementAge:
                type: number
                nullable: true
              annualIncome:
                anyOf:
                - type: string
                - type: number
                - nullable: true
              heritageOrigin:
                type: string
                nullable: true
              seniorAdvisor:
                type: string
                nullable: true
              secondaryAdvisor:
                type: string
                nullable: true
              dateEntryRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idCard:
                type: string
                nullable: true
              idNumber:
                type: string
                nullable: true
              issueDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              authority:
                type: string
                nullable: true
              expirationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idNIF:
                type: string
                nullable: true
              idMIF:
                type: string
                nullable: true
              taxResidence:
                type: string
                nullable: true
              customerClassificationMIF:
                type: string
                nullable: true
              classificationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              pep:
                type: boolean
                nullable: true
              usPerson:
                type: boolean
                nullable: true
              legalCapacity:
                type: string
                nullable: true
              tag:
                type: string
                nullable: true
              updated:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              homeAdress:
                type: string
                nullable: true
              complement:
                type: string
                nullable: true
              postalCode:
                type: string
                nullable: true
              note:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              secondaryNationality:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              professionalCategory:
                type: string
                nullable: true
          - type: object
            nullable: true
            properties:
              entryDateIntoRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              originCustomerRelationship:
                type: string
                nullable: true
              contactCustomerRelationship:
                type: string
                nullable: true
              remoteOpening:
                type: boolean
                nullable: true
              dateLastMeeting:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              entryIntoRelationshipNote:
                type: string
                nullable: true
              gender:
                type: string
                nullable: true
                enum:
                - male
                - female
                default: male
              name:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              firstName:
                type: string
                nullable: true
              birthDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              birthZipCode:
                type: string
                nullable: true
              birthRegion:
                type: string
                nullable: true
              birthCity:
                type: string
                nullable: true
              birthName:
                type: string
                nullable: true
              deathDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              familySituation:
                type: string
                nullable: true
                enum:
                - single
                - inARelationship
                - married
                - civilUnion
                - divorced
                - separated
                - widowed
                - domesticPartnership
                - freeUnion
                - cohabitation
                - pendingDivorce
                - remarried
                - deceased
              nationality:
                type: string
                nullable: true
              matrimonialRegime:
                type: string
                nullable: true
              studiesLevel:
                type: string
                nullable: true
                enum:
                - none
                - certificate
                - highSchool
                - bachelor
                - master
                - doctorate
              occupation:
                type: string
                nullable: true
              occupationWording:
                type: string
                nullable: true
              retirementAge:
                type: number
                nullable: true
              annualIncome:
                anyOf:
                - type: string
                - type: number
                - nullable: true
              heritageOrigin:
                type: string
                nullable: true
              seniorAdvisor:
                type: string
                nullable: true
              secondaryAdvisor:
                type: string
                nullable: true
              dateEntryRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idCard:
                type: string
                nullable: true
              idNumber:
                type: string
                nullable: true
              issueDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              authority:
                type: string
                nullable: true
              expirationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idNIF:
                type: string
                nullable: true
              idMIF:
                type: string
                nullable: true
              taxResidence:
                type: string
                nullable: true
              customerClassificationMIF:
                type: string
                nullable: true
              classificationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              pep:
                type: boolean
                nullable: true
              usPerson:
                type: boolean
                nullable: true
              legalCapacity:
                type: string
                nullable: true
              tag:
                type: string
                nullable: true
              updated:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              homeAdress:
                type: string
                nullable: true
              complement:
                type: string
                nullable: true
              postalCode:
                type: string
                nullable: true
              note:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              secondaryNationality:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              professionalCategory:
                type: string
                nullable: true
              information:
                anyOf:
                - type: object
                  properties:
                    socialReason:
                      type: string
                    contact:
                      type: string
                      nullable: true
                    firstAddress:
                      type: string
                      nullable: true
                    secondAddress:
                      type: string
                      nullable: true
                    postalCode:
                      type: string
                      nullable: true
                    city:
                      type: string
                      nullable: true
                    country:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    fax:
                      type: string
                      nullable: true
                    email:
                      type: string
                      nullable: true
                    website:
                      type: string
                      nullable: true
                - type: object
                  properties:
                    socialReason:
                      type: string
                      minLength: 1
                    holdingId:
                      type: string
                      nullable: true
                    siren:
                      type: string
                    siret:
                      type: string
                    ape:
                      type: string
                    creationDate:
                      type: string
                      nullable: true
                    legalForm:
                      type: string
                      nullable: true
                    socialCapital:
                      type: number
                    headOfficeAddress:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                    managers:
                      type: array
                      items:
                        type: object
                        properties:
                          managerID:
                            type: string
                          primary:
                            type: boolean
                        required:
                        - managerID
                        - primary
                    seniorAdvisor:
                      type: string
                    secondaryAdvisor:
                      type: string
                    entryDateIntoRelationship:
                      type: string
                      nullable: true
                    originCustomerRelationship:
                      type: string
                    contactCustomerRelationship:
                      type: string
                    remoteOpening:
                      type: boolean
                    dateLastMeeting:
                      type: string
                      nullable: true
                    entryIntoRelationshipNote:
                      type: string
                    ownership:
                      type: number
                      nullable: true
                    valuation:
                      type: number
                      nullable: true
                - nullable: true
              managers:
                type: object
                nullable: true
                properties:
                  lastNameFirstName:
                    type: string
                  function:
                    type: string
                  birthDate:
                    type: string
                    nullable: true
                  nationality:
                    type: string
                  personalAddress:
                    type: string
                  personalPhoneNumber:
                    type: string
                  personalEmailAddress:
                    type: string
                  shareholderInformation:
                    type: string
                  idCard:
                    type: string
                  idNumber:
                    type: string
              nbManagers:
                type: object
                nullable: true
                properties:
                  lastNameFirstName:
                    type: string
                  function:
                    type: string
                  birthDate:
                    type: string
                    nullable: true
                  nationality:
                    type: string
                  personalAddress:
                    type: string
                  personalPhoneNumber:
                    type: string
                  personalEmailAddress:
                    type: string
                  shareholderInformation:
                    type: string
                  idCard:
                    type: string
                  idNumber:
                    type: string
              bankAccounts:
                type: object
                nullable: true
                properties:
                  banks:
                    type: string
                  iban:
                    type: string
                  bankAccountNumbers:
                    type: string
                  bic:
                    type: string
              activities:
                type: object
                nullable: true
                properties:
                  mainActivities:
                    type: string
                  secondaryActivities:
                    type: string
                  clients:
                    type: string
                  suppliers:
                    type: string
                  competitors:
                    type: string
          - nullable: true
          description: |-
            General information about the entity
             This field is treated as a scalar
        details:
          type: object
          nullable: true
          properties:
            street:
              type: string
              nullable: true
            zipCode:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
            addressSupplement:
              type: string
              nullable: true
            workStreet:
              type: string
              nullable: true
            workZipCode:
              type: string
              nullable: true
            workCity:
              type: string
              nullable: true
            workAddressSupplement:
              type: string
              nullable: true
            otherStreet:
              type: string
              nullable: true
            otherZipCode:
              type: string
              nullable: true
            otherCity:
              type: string
              nullable: true
            otherAddressSupplement:
              type: string
              nullable: true
            firstPhoneNumber:
              type: string
              nullable: true
            secondPhoneNumber:
              type: string
              nullable: true
            personalEmail:
              type: string
              nullable: true
            otherEmail:
              type: string
              nullable: true
            fiscalAddress:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
            otherCountry:
              type: string
              nullable: true
            workCountry:
              type: string
              nullable: true
          description: |-
            Detailed information about the entity
             This field is treated as a scalar
        type:
          type: string
          nullable: true
          enum:
          - person
          - company
        assets:
          type: array
          items:
            type: object
            properties:
              ownership:
                type: number
              id:
                type: string
                format: uuid
            required:
            - ownership
            - id
          description: Assets (partially or fully) owned by the entity
        providers:
          type: object
          nullable: true
          additionalProperties:
            type: array
            items:
              type: string
          description: Provider IDs associated with the entity. This field contains a mapping where each key represents a provider name and the value is an array of provider-specific IDs for this entity. This data comes from the funnel.entities.provider_ids column.
          example:
            provider1:
            - id1
            - id2
            provider2:
            - id3
      required:
      - id
      - name
      - updated
      - assets
    Manager:
      type: object
      properties:
        id:
          type: string
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Jean dupont
        email:
          type: string
          example: jean.dupont@company.tld
      required:
      - id
      - name
      - email
    Asset:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the asset
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          description: The name of the asset
          example: Jean dupont
        group:
          type: string
          enum:
          - banking
          - securities
          - lifeInsurance_capitalization
          - retirement_employee
          - crowdfunding
          - private_equity
          - crypto
          - benefits
          - heritage_real_estate
          - professional_real_estate
          - commercial_real_estate
          - other
          - rock_paper
          - exotic
          - home_loan
          - business_loan
          - consumer_loan
          - other_loan
          - unrecognized
          description: The group of the asset. Note that the group will determine the structure of the asset's metadata
          example: banking
        BBAN:
          type: string
          nullable: true
          description: The BBAN of the asset
        management:
          type: string
          enum:
          - under
          - none
          description: The management of the asset, under if the assets is managed by the company, otherwise none
        distribution:
          type: array
          items:
            type: object
            properties:
              ownership:
                type: number
              entityId:
                type: string
                format: uuid
            required:
            - ownership
            - entityId
            description: the distribution of ownership shares between entities
        providers:
          type: object
          nullable: true
          additionalProperties:
            type: string
          description: Provider IDs associated with the asset. Each key represents a provider name and the value is the provider-specific ID for this asset.
          example:
            provider1: id1
            provider2: id2
      required:
      - id
      - name
      - group
      - management
      - distribution
    Transaction:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier of the transaction
          example: tx-123456-abcdef
        name:
          type: string
          description: The name/description of the transaction
          example: Payment for services
        date:
          type: string
          nullable: true
          description: The date of the transaction.
          example: 2024-03-15
        amount:
          type: number
          description: The amount of the transaction (in EUR)
          example: 1250.5
        type:
          type: string
          description: The type of the transaction
          example: payment
        processed:
          type: string
          description: The date when the transaction was last processed by the system
        manager:
          type: object
          nullable: true
          properties:
            id:
              type: string
              example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
            name:
              type: string
              example: Jean dupont
          required:
          - id
          - name
          description: The manager linked to the transaction
      required:
      - id
      - name
      - date
      - amount
      - type
      - processed
    Investment:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The unique identifier of the investment
          example: inv-123456-abcdef
        label:
          type: string
          description: The label/name of the investment
          example: APPLE INC
        unitPrice:
          type: number
          description: The price per unit
          example: 150.25
        unitValue:
          type: number
          description: The current value per unit
          example: 155.75
        quantity:
          type: number
          description: The number of units held
          example: 100
        valuation:
          type: number
          description: The total valuation of the investment
          example: 15575
        instrument:
          type: string
          description: The type of investment instrument
          example: Stock
        category:
          type: string
          description: The investment category
          example: Equity
        subcategory:
          type: string
          description: The investment subcategory
          example: Technology
        managementCompany:
          type: string
          description: The company managing the investment
          example: BlackRock
        riskIndicator:
          type: string
          description: Risk indicator of the investment
          example: Moderate
        sri:
          type: string
          description: Synthetic Risk Indicator
          example: '4'
      required:
      - id
      - label
      - unitPrice
      - unitValue
      - quantity
      - valuation
      - instrument
      - category
      - subcategory
      - managementCompany
      - riskIndicator
      - sri
    Parent Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Apple Paris
        created:
          type: string
          nullable: true
          readOnly: true
        updated:
          type: string
          nullable: true
      required:
      - id
      - name
      - created
      - updated
  parameters: {}
paths:
  /companies:
    get:
      operationId: company_list
      summary: List companies
      tags:
      - Company
      security:
      - Bearer: []
      parameters:
      - schema:
          type: number
          nullable: true
          minimum: 0
          default: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          minimum: 1
          maximum: 1000
          default: 10
          example: 10
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: sucess - a paginated list of companies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
  /companies/statistics:
    get:
      operationId: company_list_statistics
      summary: Retrieve list companies statistics
      tags:
      - Company
      responses:
        '200':
          description: success - list wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}:
    get:
      operationId: company_retrieve
      tags:
      - Company
      summary: Retrieve a company information
      parameters:
      - schema:
          type: string
          minLength: 1
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: company-id
        in: path
      responses:
        '200':
          description: success - company information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    patch:
      tags:
      - Company
      operationId: company_update
      summary: Update a company information
      parameters:
      - schema:
          type: string
          format: uuid
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: company-id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
              required:
              - name
      responses:
        '200':
          description: success - company updated information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    delete:
      tags:
      - Company
      operationId: company_deletion
      summary: Delete a company
      description: Deletes a company and logs the deletion
      parameters:
      - schema:
          type: string
          format: uuid
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: company-id
        in: path
      responses:
        '200':
          description: Company deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
  /companies/{company-id}/customers/statistics:
    get:
      deprecated: true
      tags:
      - Customer
      operationId: customer_list_statistics
      summary: Customer list statistics
      responses:
        '200':
          description: success - customers wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}/customers:
    get:
      operationId: customer_list
      tags:
      - Customer
      deprecated: true
      summary: List of customers
      parameters:
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_to
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers updated after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: updated_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers updated before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: updated_to
        in: query
      responses:
        '200':
          description: success - paginated list of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
  /companies/{company-id}/teams/statistics:
    get:
      operationId: team_list_statistics
      tags:
      - Team
      summary: Team list statistics
      responses:
        '200':
          description: succes - retreive teams list wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}/teams:
    get:
      operationId: team_list
      tags:
      - Team
      summary: Team list
      parameters:
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: Retrieve the list of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
    put:
      operationId: team_creation
      summary: Team creation
      tags:
      - Team
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: interns
                description:
                  type: string
                  example: a team of interns
              required:
              - name
      responses:
        '200':
          description: the created team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /companies/{company-id}/teams/{teamName}:
    get:
      operationId: team_retrieve
      summary: Team retrieval
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      responses:
        '200':
          description: the team information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    patch:
      operationId: team_update
      summary: Team update
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: interns
                description:
                  type: string
                  example: a team of interns
              required:
              - name
      responses:
        '200':
          description: updated team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    delete:
      summary: Team deletion
      operationId: team_deletion
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      responses:
        '200':
          description: Delete a team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /companies/{company-id}/teams/{teamName}/statistics:
    get:
      operationId: team_statistics
      tags:
      - Team
      summary: Statistics of a team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      responses:
        '200':
          description: Retrieve team statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: number
                    description: Number of customers managed by the team
                    minimum: 0
                    example: 10
                  contracts:
                    type: number
                    description: Number of contract managed by the team
                    minimum: 0
                    example: 10
                  members:
                    type: number
                    description: Number of members in the team
                    minimum: 0
                    example: 10
                  leaders:
                    type: number
                    description: Number of leaders in the team
                    minimum: 0
                    example: 10
                  subordinate:
                    type: number
                    description: Number of subordinates in the team
                    minimum: 0
                    example: 10
                required:
                - customers
                - contracts
                - members
                - leaders
                - subordinate
  /companies/{company-id}/teams/{teamName}/members:
    get:
      operationId: team_member_list
      tags:
      - Team
      summary: Team member list
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: Retrieve the list of team members
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                    name:
                      type: string
                      example: Jean dupont
                    email:
                      type: string
                      example: jean.dupont@company.tld
                    leader:
                      type: boolean
                  required:
                  - id
                  - name
                  - email
                  - leader
    put:
      tags:
      - Team
      summary: Team Member Add
      operationId: team_member_add
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  managerId:
                    type: string
                    example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                  leader:
                    type: boolean
                    example: true
                required:
                - managerId
                - leader
      responses:
        '204':
          description: Manager added to the team
  /companies/{company-id}/entities/statistics:
    get:
      tags:
      - Entity
      operationId: entities_list_statistics
      summary: entities list statistics
      responses:
        '200':
          description: success - entities wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}/entities:
    get:
      operationId: entities_list
      tags:
      - Entity
      summary: List of entities
      parameters:
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_to
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers updated after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: updated_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers updated before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: updated_to
        in: query
      responses:
        '200':
          description: success - paginated list of entities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
  /companies/{company-id}/entities/{entityID}:
    get:
      operationId: entity_informations
      summary: Get entity informations
      tags:
      - Entity
      parameters:
      - schema:
          type: string
          format: uuid
          description: The ID of the entity to update
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: entityID
        in: path
      responses:
        '200':
          description: success - entity informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
    patch:
      operationId: entity_modification
      summary: Update entity informations
      tags:
      - Entity
      parameters:
      - schema:
          type: string
          format: uuid
          description: The ID of the entity to update
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: entityID
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                general:
                  anyOf:
                  - type: object
                    nullable: true
                    properties:
                      entryDateIntoRelationship:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      originCustomerRelationship:
                        type: string
                        nullable: true
                      contactCustomerRelationship:
                        type: string
                        nullable: true
                      remoteOpening:
                        type: boolean
                        nullable: true
                      dateLastMeeting:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      entryIntoRelationshipNote:
                        type: string
                        nullable: true
                      gender:
                        type: string
                        nullable: true
                        enum:
                        - male
                        - female
                        default: male
                      name:
                        type: string
                        nullable: true
                      lastName:
                        type: string
                        nullable: true
                      firstName:
                        type: string
                        nullable: true
                      birthDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      birthZipCode:
                        type: string
                        nullable: true
                      birthRegion:
                        type: string
                        nullable: true
                      birthCity:
                        type: string
                        nullable: true
                      birthName:
                        type: string
                        nullable: true
                      deathDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      familySituation:
                        type: string
                        nullable: true
                        enum:
                        - single
                        - inARelationship
                        - married
                        - civilUnion
                        - divorced
                        - separated
                        - widowed
                        - domesticPartnership
                        - freeUnion
                        - cohabitation
                        - pendingDivorce
                        - remarried
                        - deceased
                      nationality:
                        type: string
                        nullable: true
                      matrimonialRegime:
                        type: string
                        nullable: true
                      studiesLevel:
                        type: string
                        nullable: true
                        enum:
                        - none
                        - certificate
                        - highSchool
                        - bachelor
                        - master
                        - doctorate
                      occupation:
                        type: string
                        nullable: true
                      occupationWording:
                        type: string
                        nullable: true
                      retirementAge:
                        type: number
                        nullable: true
                      annualIncome:
                        anyOf:
                        - type: string
                        - type: number
                        - nullable: true
                      heritageOrigin:
                        type: string
                        nullable: true
                      seniorAdvisor:
                        type: string
                        nullable: true
                      secondaryAdvisor:
                        type: string
                        nullable: true
                      dateEntryRelationship:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      idCard:
                        type: string
                        nullable: true
                      idNumber:
                        type: string
                        nullable: true
                      issueDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      authority:
                        type: string
                        nullable: true
                      expirationDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      idNIF:
                        type: string
                        nullable: true
                      idMIF:
                        type: string
                        nullable: true
                      taxResidence:
                        type: string
                        nullable: true
                      customerClassificationMIF:
                        type: string
                        nullable: true
                      classificationDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      pep:
                        type: boolean
                        nullable: true
                      usPerson:
                        type: boolean
                        nullable: true
                      legalCapacity:
                        type: string
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                      updated:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      homeAdress:
                        type: string
                        nullable: true
                      complement:
                        type: string
                        nullable: true
                      postalCode:
                        type: string
                        nullable: true
                      note:
                        type: string
                        nullable: true
                      city:
                        type: string
                        nullable: true
                      secondaryNationality:
                        type: string
                        nullable: true
                      country:
                        type: string
                        nullable: true
                      professionalCategory:
                        type: string
                        nullable: true
                  - type: object
                    nullable: true
                    properties:
                      entryDateIntoRelationship:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      originCustomerRelationship:
                        type: string
                        nullable: true
                      contactCustomerRelationship:
                        type: string
                        nullable: true
                      remoteOpening:
                        type: boolean
                        nullable: true
                      dateLastMeeting:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      entryIntoRelationshipNote:
                        type: string
                        nullable: true
                      gender:
                        type: string
                        nullable: true
                        enum:
                        - male
                        - female
                        default: male
                      name:
                        type: string
                        nullable: true
                      lastName:
                        type: string
                        nullable: true
                      firstName:
                        type: string
                        nullable: true
                      birthDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      birthZipCode:
                        type: string
                        nullable: true
                      birthRegion:
                        type: string
                        nullable: true
                      birthCity:
                        type: string
                        nullable: true
                      birthName:
                        type: string
                        nullable: true
                      deathDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      familySituation:
                        type: string
                        nullable: true
                        enum:
                        - single
                        - inARelationship
                        - married
                        - civilUnion
                        - divorced
                        - separated
                        - widowed
                        - domesticPartnership
                        - freeUnion
                        - cohabitation
                        - pendingDivorce
                        - remarried
                        - deceased
                      nationality:
                        type: string
                        nullable: true
                      matrimonialRegime:
                        type: string
                        nullable: true
                      studiesLevel:
                        type: string
                        nullable: true
                        enum:
                        - none
                        - certificate
                        - highSchool
                        - bachelor
                        - master
                        - doctorate
                      occupation:
                        type: string
                        nullable: true
                      occupationWording:
                        type: string
                        nullable: true
                      retirementAge:
                        type: number
                        nullable: true
                      annualIncome:
                        anyOf:
                        - type: string
                        - type: number
                        - nullable: true
                      heritageOrigin:
                        type: string
                        nullable: true
                      seniorAdvisor:
                        type: string
                        nullable: true
                      secondaryAdvisor:
                        type: string
                        nullable: true
                      dateEntryRelationship:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      idCard:
                        type: string
                        nullable: true
                      idNumber:
                        type: string
                        nullable: true
                      issueDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      authority:
                        type: string
                        nullable: true
                      expirationDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      idNIF:
                        type: string
                        nullable: true
                      idMIF:
                        type: string
                        nullable: true
                      taxResidence:
                        type: string
                        nullable: true
                      customerClassificationMIF:
                        type: string
                        nullable: true
                      classificationDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      pep:
                        type: boolean
                        nullable: true
                      usPerson:
                        type: boolean
                        nullable: true
                      legalCapacity:
                        type: string
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                      updated:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      homeAdress:
                        type: string
                        nullable: true
                      complement:
                        type: string
                        nullable: true
                      postalCode:
                        type: string
                        nullable: true
                      note:
                        type: string
                        nullable: true
                      city:
                        type: string
                        nullable: true
                      secondaryNationality:
                        type: string
                        nullable: true
                      country:
                        type: string
                        nullable: true
                      professionalCategory:
                        type: string
                        nullable: true
                      information:
                        anyOf:
                        - type: object
                          properties:
                            socialReason:
                              type: string
                            contact:
                              type: string
                              nullable: true
                            firstAddress:
                              type: string
                              nullable: true
                            secondAddress:
                              type: string
                              nullable: true
                            postalCode:
                              type: string
                              nullable: true
                            city:
                              type: string
                              nullable: true
                            country:
                              type: string
                              nullable: true
                            phone:
                              type: string
                              nullable: true
                            fax:
                              type: string
                              nullable: true
                            email:
                              type: string
                              nullable: true
                            website:
                              type: string
                              nullable: true
                        - type: object
                          properties:
                            socialReason:
                              type: string
                              minLength: 1
                            holdingId:
                              type: string
                              nullable: true
                            siren:
                              type: string
                            siret:
                              type: string
                            ape:
                              type: string
                            creationDate:
                              type: string
                              nullable: true
                            legalForm:
                              type: string
                              nullable: true
                            socialCapital:
                              type: number
                            headOfficeAddress:
                              type: string
                            phone:
                              type: string
                            email:
                              type: string
                            managers:
                              type: array
                              items:
                                type: object
                                properties:
                                  managerID:
                                    type: string
                                  primary:
                                    type: boolean
                                required:
                                - managerID
                                - primary
                            seniorAdvisor:
                              type: string
                            secondaryAdvisor:
                              type: string
                            entryDateIntoRelationship:
                              type: string
                              nullable: true
                            originCustomerRelationship:
                              type: string
                            contactCustomerRelationship:
                              type: string
                            remoteOpening:
                              type: boolean
                            dateLastMeeting:
                              type: string
                              nullable: true
                            entryIntoRelationshipNote:
                              type: string
                            ownership:
                              type: number
                              nullable: true
                            valuation:
                              type: number
                              nullable: true
                        - nullable: true
                      managers:
                        type: object
                        nullable: true
                        properties:
                          lastNameFirstName:
                            type: string
                          function:
                            type: string
                          birthDate:
                            type: string
                            nullable: true
                          nationality:
                            type: string
                          personalAddress:
                            type: string
                          personalPhoneNumber:
                            type: string
                          personalEmailAddress:
                            type: string
                          shareholderInformation:
                            type: string
                          idCard:
                            type: string
                          idNumber:
                            type: string
                      nbManagers:
                        type: object
                        nullable: true
                        properties:
                          lastNameFirstName:
                            type: string
                          function:
                            type: string
                          birthDate:
                            type: string
                            nullable: true
                          nationality:
                            type: string
                          personalAddress:
                            type: string
                          personalPhoneNumber:
                            type: string
                          personalEmailAddress:
                            type: string
                          shareholderInformation:
                            type: string
                          idCard:
                            type: string
                          idNumber:
                            type: string
                      bankAccounts:
                        type: object
                        nullable: true
                        properties:
                          banks:
                            type: string
                          iban:
                            type: string
                          bankAccountNumbers:
                            type: string
                          bic:
                            type: string
                      activities:
                        type: object
                        nullable: true
                        properties:
                          mainActivities:
                            type: string
                          secondaryActivities:
                            type: string
                          clients:
                            type: string
                          suppliers:
                            type: string
                          competitors:
                            type: string
                  - nullable: true
                  description: |-
                    General information about the entity
                     This field is treated as a scalar
                details:
                  type: object
                  nullable: true
                  properties:
                    street:
                      type: string
                      nullable: true
                    zipCode:
                      type: string
                      nullable: true
                    city:
                      type: string
                      nullable: true
                    addressSupplement:
                      type: string
                      nullable: true
                    workStreet:
                      type: string
                      nullable: true
                    workZipCode:
                      type: string
                      nullable: true
                    workCity:
                      type: string
                      nullable: true
                    workAddressSupplement:
                      type: string
                      nullable: true
                    otherStreet:
                      type: string
                      nullable: true
                    otherZipCode:
                      type: string
                      nullable: true
                    otherCity:
                      type: string
                      nullable: true
                    otherAddressSupplement:
                      type: string
                      nullable: true
                    firstPhoneNumber:
                      type: string
                      nullable: true
                    secondPhoneNumber:
                      type: string
                      nullable: true
                    personalEmail:
                      type: string
                      nullable: true
                    otherEmail:
                      type: string
                      nullable: true
                    fiscalAddress:
                      type: string
                      nullable: true
                    country:
                      type: string
                      nullable: true
                    otherCountry:
                      type: string
                      nullable: true
                    workCountry:
                      type: string
                      nullable: true
                  description: |-
                    Detailed information about the entity
                     This field is treated as a scalar
      responses:
        '200':
          description: success - entity informations
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                    readOnly: true
                  name:
                    type: string
                    example: Jean dupont
                    readOnly: true
                  created:
                    type: string
                    nullable: true
                    description: The date of creation of the customer
                    example: 2024-01-01T00:00:00.000Z
                    readOnly: true
                  updated:
                    type: string
                    description: The date of the last update of the customer
                    example: 2024-01-01T00:00:00.000Z
                  general:
                    anyOf:
                    - type: object
                      nullable: true
                      properties:
                        entryDateIntoRelationship:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        originCustomerRelationship:
                          type: string
                          nullable: true
                        contactCustomerRelationship:
                          type: string
                          nullable: true
                        remoteOpening:
                          type: boolean
                          nullable: true
                        dateLastMeeting:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        entryIntoRelationshipNote:
                          type: string
                          nullable: true
                        gender:
                          type: string
                          nullable: true
                          enum:
                          - male
                          - female
                          default: male
                        name:
                          type: string
                          nullable: true
                        lastName:
                          type: string
                          nullable: true
                        firstName:
                          type: string
                          nullable: true
                        birthDate:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        birthZipCode:
                          type: string
                          nullable: true
                        birthRegion:
                          type: string
                          nullable: true
                        birthCity:
                          type: string
                          nullable: true
                        birthName:
                          type: string
                          nullable: true
                        deathDate:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        familySituation:
                          type: string
                          nullable: true
                          enum:
                          - single
                          - inARelationship
                          - married
                          - civilUnion
                          - divorced
                          - separated
                          - widowed
                          - domesticPartnership
                          - freeUnion
                          - cohabitation
                          - pendingDivorce
                          - remarried
                          - deceased
                        nationality:
                          type: string
                          nullable: true
                        matrimonialRegime:
                          type: string
                          nullable: true
                        studiesLevel:
                          type: string
                          nullable: true
                          enum:
                          - none
                          - certificate
                          - highSchool
                          - bachelor
                          - master
                          - doctorate
                        occupation:
                          type: string
                          nullable: true
                        occupationWording:
                          type: string
                          nullable: true
                        retirementAge:
                          type: number
                          nullable: true
                        annualIncome:
                          anyOf:
                          - type: string
                          - type: number
                          - nullable: true
                        heritageOrigin:
                          type: string
                          nullable: true
                        seniorAdvisor:
                          type: string
                          nullable: true
                        secondaryAdvisor:
                          type: string
                          nullable: true
                        dateEntryRelationship:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        idCard:
                          type: string
                          nullable: true
                        idNumber:
                          type: string
                          nullable: true
                        issueDate:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        authority:
                          type: string
                          nullable: true
                        expirationDate:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        idNIF:
                          type: string
                          nullable: true
                        idMIF:
                          type: string
                          nullable: true
                        taxResidence:
                          type: string
                          nullable: true
                        customerClassificationMIF:
                          type: string
                          nullable: true
                        classificationDate:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        pep:
                          type: boolean
                          nullable: true
                        usPerson:
                          type: boolean
                          nullable: true
                        legalCapacity:
                          type: string
                          nullable: true
                        tag:
                          type: string
                          nullable: true
                        updated:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        homeAdress:
                          type: string
                          nullable: true
                        complement:
                          type: string
                          nullable: true
                        postalCode:
                          type: string
                          nullable: true
                        note:
                          type: string
                          nullable: true
                        city:
                          type: string
                          nullable: true
                        secondaryNationality:
                          type: string
                          nullable: true
                        country:
                          type: string
                          nullable: true
                        professionalCategory:
                          type: string
                          nullable: true
                    - type: object
                      nullable: true
                      properties:
                        entryDateIntoRelationship:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        originCustomerRelationship:
                          type: string
                          nullable: true
                        contactCustomerRelationship:
                          type: string
                          nullable: true
                        remoteOpening:
                          type: boolean
                          nullable: true
                        dateLastMeeting:
                          anyOf:
                          - type: string
                          - type: string
                          - nullable: true
                        entryIntoRelationshipNote:
                          type: string
                          nullable: true
[...]
