openapi: 3.0.0
info:
  version: 0.x
  title: aggregated
  contact:
    email: dev@wealthcome.fr
    url: https://wealthcome.fr
servers:
- url: https://services.preproduction.wealthcome.fr/aggregated
  description: Preproduction
tags:
- name: Company
  description: Company related endpoints
- name: Customer
  description: Customer related endpoints
- name: Task
  description: Task related endpoints
- name: Team
  description: Team related endpoints
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Apple Paris
      required:
      - id
      - name
  parameters: {}
paths:
  /companies:
    get:
      operationId: company_list
      summary: List companies
      tags:
      - Company
      parameters:
      - schema:
          type: number
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: sucess - a paginated list of companies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
  /companies/statistics:
    get:
      operationId: company_list_statistics
      summary: Retrieve list companies statistics
      tags:
      - Company
      responses:
        '200':
          description: success - list wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{id}:
    get:
      operationId: company_retrieve
      tags:
      - Company
      summary: Retrieve a company information
      parameters:
      - schema:
          type: string
          minLength: 1
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: id
        in: path
      responses:
        '200':
          description: success - company information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    patch:
      tags:
      - Company
      operationId: company_update
      summary: Update a company information
      parameters:
      - schema:
          type: string
          minLength: 1
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
              required:
              - name
      responses:
        '200':
          description: success - company updated information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
  /companies/{id}/customers/statistics:
    get:
      tag:
      - Customer
      - Company
      operationId: customer_list_statistics
      summary: Customer list statistics
      responses:
        '200':
          description: success - customers wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{id}/customers:
    get:
      operationId: customer_list
      tag:
      - Customer
      - Company
      summary: List of customers
      responses:
        '200':
          description: success - paginated list of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/Company'
                  - properties:
                      id:
                        type: string
                        example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                      name:
                        type: string
                        example: Jean dupont
                      totalValuation:
                        type: number
                        example: 1000000
  /companies/{id}/teams/statistics:
    get:
      opereationId: team_list_statistics
      tags:
      - Company
      - Team
      summary: Team list statistics
      responses:
        '200':
          description: succes - retreive teams list wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{id}/teams:
    get:
      operationId: team_list
      tags:
      - Company
      - Team
      summary: Team list
      responses:
        '200':
          description: Retrieve the list of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/Company'
                  - properties:
                      name:
                        type: string
                        example: interns
                      descritpion:
                        type: string
                        example: a team of interns
                    required:
                    - name
    put:
      operationId: team_creation
      summary: Team creation
      tags:
      - Company
      - Team
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: interns
                description:
                  type: string
                  example: a team of interns
              required:
              - name
      responses:
        '200':
          description: the created team
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Company'
                - properties:
                    name:
                      type: string
                      example: interns
                    descritpion:
                      type: string
                      example: a team of interns
                  required:
                  - name
  /companies/{id}/teams/{team_name}:
    get:
      operationId: team_retrieve
      summary: Team retrieval
      tags:
      - Company
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      responses:
        '200':
          description: the team information
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/Company'
                  - properties:
                      name:
                        type: string
                        example: interns
                      descritpion:
                        type: string
                        example: a team of interns
                    required:
                    - name
    patch:
      operationId: team_update
      summary: Team update
      tags:
      - Company
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: interns
                description:
                  type: string
                  example: a team of interns
              required:
              - name
      responses:
        '200':
          description: updated team
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Company'
                - properties:
                    name:
                      type: string
                      example: interns
                    descritpion:
                      type: string
                      example: a team of interns
                  required:
                  - name
    delete:
      summary: Team deletion
      operationId: team_deletion
      tags:
      - Company
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      responses:
        '200':
          description: Delete a team
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Company'
                - properties:
                    name:
                      type: string
                      example: interns
                    descritpion:
                      type: string
                      example: a team of interns
                  required:
                  - name
  /companies/{id}/teams/{team_name}/members:
    get:
      operationId: team_member_list
      tags:
      - Company
      - Team
      summary: Team member list
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      responses:
        '200':
          description: Retrieve the list of team members
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                    name:
                      type: string
                      example: John Doe
                    email:
                      type: string
                      example: ''
                    leader:
                      type: boolean
                  required:
                  - id
                  - name
                  - email
                  - leader
    put:
      tags:
      - Company
      - Team
      summary: Team Member Add
      operationId: team_member_add
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  manager_id:
                    type: string
                    example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                  leader:
                    type: boolean
                    example: true
                required:
                - manager_id
                - leader
      responses:
        '204':
          description: Manager added to the team
