openapi: 3.0.0
info:
  version: 0.x
  title: aggregated
  contact:
    email: dev@wealthcome.fr
    url: https://wealthcome.fr
servers:
- url: https://services.preproduction.wealthcome.fr/aggregated
  description: Preproduction
tags:
- name: Company
  description: Company related endpoints
- name: Customer
  description: Customer related endpoints
- name: Task
  description: Task related endpoints
- name: Team
  description: Team related endpoints
security:
- BearerAuth:
  - bearer
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Apple Paris
      required:
      - id
      - name
    Customer:
      type: object
      properties:
        id:
          type: string
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Jean dupont
        general:
          type: object
          nullable: true
          properties:
            entryDateIntoRelationship:
              type: string
              nullable: true
            originCustomerRelationship:
              type: string
            contactCustomerRelationship:
              type: string
            remoteOpening:
              type: boolean
            gender:
              type: string
              default: male
            name:
              type: string
            birthName:
              type: string
            surname:
              type: string
            birthDate:
              type: string
              nullable: true
            birthCity:
              type: string
            deathDate:
              type: string
              nullable: true
            familySituation:
              type: string
            nationality:
              type: string
            matrimonialRegime:
              type: string
            studiesLevel:
              type: string
            occupation:
              type: string
            occupationWording:
              type: string
            retirementAge:
              type: number
            annualIncome:
              type: string
            heritageOrigin:
              type: string
            seniorAdvisor:
              type: string
            secondaryAdvisor:
              type: string
            dateEntryRelationship:
              type: string
              nullable: true
            idCard:
              type: string
            idNumber:
              type: string
            issueDate:
              type: string
              nullable: true
            authority:
              type: string
            expirationDate:
              type: string
              nullable: true
            idNIF:
              type: string
            idMIF:
              type: string
            taxResidence:
              type: string
            customerClassificationMIF:
              type: string
            classificationDate:
              type: string
              nullable: true
            pep:
              type: boolean
            usPerson:
              type: string
            legalCapacity:
              type: string
        details:
          type: object
          nullable: true
          properties:
            street:
              type: string
            zipCode:
              type: string
            city:
              type: string
            workStreet:
              type: string
            workZipCode:
              type: string
            workCity:
              type: string
            otherStreet:
              type: string
            otherZipCode:
              type: string
            otherCity:
              type: string
            firstPhoneNumber:
              type: string
            secondPhoneNumber:
              type: string
            personalEmail:
              type: string
            otherEmail:
              type: string
            fiscalAddress:
              type: string
            country:
              type: string
            otherCountry:
              type: string
            workCountry:
              type: string
      required:
      - id
      - name
    Team:
      type: object
      properties:
        name:
          type: string
          example: interns
        descritpion:
          type: string
          example: a team of interns
      required:
      - name
  parameters: {}
paths:
  /companies:
    get:
      operationId: company_list
      summary: List companies
      tags:
      - Company
      parameters:
      - schema:
          type: number
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: sucess - a paginated list of companies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
  /companies/statistics:
    get:
      operationId: company_list_statistics
      summary: Retrieve list companies statistics
      tags:
      - Company
      responses:
        '200':
          description: success - list wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{id}:
    get:
      operationId: company_retrieve
      tags:
      - Company
      summary: Retrieve a company information
      parameters:
      - schema:
          type: string
          minLength: 1
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: id
        in: path
      responses:
        '200':
          description: success - company information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    patch:
      tags:
      - Company
      operationId: company_update
      summary: Update a company information
      parameters:
      - schema:
          type: string
          minLength: 1
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
              required:
              - name
      responses:
        '200':
          description: success - company updated information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
  /companies/{id}/customers/statistics:
    get:
      tags:
      - Customers
      operationId: customer_list_statistics
      summary: Customer list statistics
      responses:
        '200':
          description: success - customers wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{id}/customers:
    get:
      operationId: customer_list
      tags:
      - Customers
      summary: List of customers
      responses:
        '200':
          description: success - paginated list of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
  /companies/{id}/teams/statistics:
    get:
      opereationId: team_list_statistics
      tags:
      - Team
      summary: Team list statistics
      responses:
        '200':
          description: succes - retreive teams list wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{id}/teams:
    get:
      operationId: team_list
      tags:
      - Team
      summary: Team list
      responses:
        '200':
          description: Retrieve the list of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
    put:
      operationId: team_creation
      summary: Team creation
      tags:
      - Team
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: interns
                description:
                  type: string
                  example: a team of interns
              required:
              - name
      responses:
        '200':
          description: the created team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /companies/{id}/teams/{team_name}:
    get:
      operationId: team_retrieve
      summary: Team retrieval
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      responses:
        '200':
          description: the team information
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
    patch:
      operationId: team_update
      summary: Team update
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: interns
                description:
                  type: string
                  example: a team of interns
              required:
              - name
      responses:
        '200':
          description: updated team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    delete:
      summary: Team deletion
      operationId: team_deletion
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      responses:
        '200':
          description: Delete a team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /companies/{id}/teams/{team_name}/members:
    get:
      operationId: team_member_list
      tags:
      - Team
      summary: Team member list
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      responses:
        '200':
          description: Retrieve the list of team members
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                    name:
                      type: string
                      example: Jean dupont
                    email:
                      type: string
                      example: jean.dupont@company.tld
                    leader:
                      type: boolean
                  required:
                  - id
                  - name
                  - email
                  - leader
    put:
      tags:
      - Team
      summary: Team Member Add
      operationId: team_member_add
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: team_name
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  manager_id:
                    type: string
                    example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                  leader:
                    type: boolean
                    example: true
                required:
                - manager_id
                - leader
      responses:
        '204':
          description: Manager added to the team
  /companies/{id}/managers/statistics:
    get:
      tags:
      - Managers
      operationId: manager_list_statistics
      summary: Manager list statistics
      responses:
        '200':
          description: success - manager wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{id}/managers:
    get:
      operationId: manger_list
      tags:
      - Managers
      summary: List of customers
      responses:
        '200':
          description: success - paginated list of managers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Jean dupont
                  required:
                  - name
