{"openapi":"3.0.0","info":{"version":"0.x","title":"aggregated","contact":{"email":"dev@wealthcome.fr","url":"https://wealthcome.fr"}},"servers":[{"url":"https://services.preproduction.wealthcome.fr/aggregated","description":"preproduction"},{"url":"https://services.wealthcome.fr/aggregated","description":"production"}],"tags":[{"name":"Company","description":"Company related endpoints"},{"name":"Customer","description":"Customer related endpoints"},{"name":"Task","description":"Task related endpoints"},{"name":"Team","description":"Team related endpoints"}],"security":[{"BearerAuth":["Bearer"]}],"components":{"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer"}},"schemas":{"Entity":{"type":"object","properties":{"id":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c","readOnly":true},"name":{"type":"string","example":"Jean dupont","readOnly":true},"created":{"type":"string","nullable":true,"description":"The date of creation of the customer","example":"2024-01-01T00:00:00.000Z","readOnly":true},"updated":{"type":"string","description":"The date of the last update of the customer","example":"2024-01-01T00:00:00.000Z"},"general":{"type":"object","nullable":true,"properties":{"entryDateIntoRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"entryIntoRelationshipNote":{"type":"string","nullable":true},"gender":{"type":"string","nullable":true,"enum":["male","female"],"default":"male"},"name":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"firstName":{"type":"string","nullable":true},"birthDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"birthZipCode":{"type":"string","nullable":true},"birthRegion":{"type":"string","nullable":true},"birthCity":{"type":"string","nullable":true},"birthCountry":{"type":"string","nullable":true},"birthName":{"type":"string","nullable":true},"deathDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"familySituation":{"type":"string","nullable":true,"enum":["none","inARelationship","civilUnion","remarried","pendingDivorce","single","deceased","widowed","married","freeUnion","domesticPartnership","divorced","cohabitation","separated"]},"marriageDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"nationality":{"type":"string","nullable":true},"matrimonialRegime":{"type":"string","nullable":true},"studiesLevel":{"type":"string","nullable":true,"enum":["none","certificate","highSchool","bachelor","master","doctorate"]},"occupation":{"type":"string","nullable":true},"occupationWording":{"type":"string","nullable":true},"retirementAge":{"type":"number","nullable":true},"annualIncome":{"anyOf":[{"type":"string"},{"type":"number"},{"nullable":true}]},"heritageOrigin":{"type":"string","nullable":true},"sectorOfActivity":{"type":"string","nullable":true},"dateEntryRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idCard":{"type":"string","nullable":true},"idNumber":{"type":"string","nullable":true},"issueDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"authority":{"type":"string","nullable":true},"expirationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idNIF":{"type":"string","nullable":true},"idMIF":{"type":"string","nullable":true},"taxResidence":{"type":"string","nullable":true},"customerClassificationMIF":{"type":"string","nullable":true},"classificationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"pep":{"type":"boolean","nullable":true},"usPerson":{"type":"boolean","nullable":true},"legalCapacity":{"type":"string","nullable":true,"enum":["noMeasure","capable","protectedUnderGuardianship","protectedUnderCuratorship","underJudicialSafeguard","unemancipatedMinor","emancipatedMinor","underJudicialConstraint","underGuardianship","absentOrOtherCapableMajor","other","judicialSafeguard","guardianship","enhancedGuardianship","custody","futureProtectionMandate","adHocAdministrator","posthumousMandate","oldStateGuardianship","oldGuardianshipManagement","oldGuardianshipArt511","oldGuardianshipArt512","privateManagementCustody","familyEmpowermentRepresentation","legalAdministration","familyEmpowermentAssistance"]},"tag":{"type":"string","nullable":true},"referencesType":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"]},"updated":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"homeAdress":{"type":"string","nullable":true},"complement":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"secondaryNationality":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"professionalCategory":{"type":"string","nullable":true},"externalClientFileReference":{"type":"string","nullable":true},"information":{"type":"object","nullable":true,"properties":{"socialReason":{"type":"string","nullable":true,"minLength":1},"contact":{"type":"string","nullable":true},"firstAddress":{"type":"string","nullable":true},"secondAddress":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"fax":{"type":"string","nullable":true},"email":{"type":"string","nullable":true,"minLength":1,"format":"email"},"website":{"type":"string","nullable":true},"holdingId":{"type":"string","nullable":true},"siren":{"type":"string","nullable":true},"siret":{"type":"string","nullable":true},"ape":{"type":"string","nullable":true},"rcsNumber":{"type":"string","nullable":true},"creationDate":{"type":"string","nullable":true},"legalForm":{"type":"string","nullable":true},"socialCapital":{"type":"number","nullable":true},"headOfficeAddress":{"type":"string","nullable":true},"managers":{"type":"array","nullable":true,"items":{"type":"object","properties":{"managerID":{"type":"string"},"primary":{"type":"boolean"}},"required":["managerID","primary"]}},"seniorAdvisor":{"type":"string","nullable":true},"secondaryAdvisor":{"type":"string","nullable":true},"entryDateIntoRelationship":{"type":"string","nullable":true},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"type":"string","nullable":true},"entryIntoRelationshipNote":{"type":"string","nullable":true},"ownership":{"type":"number","nullable":true},"valuation":{"type":"number","nullable":true}}},"managers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"nbManagers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"bankAccounts":{"type":"object","nullable":true,"properties":{"banks":{"type":"string"},"iban":{"type":"string"},"bankAccountNumbers":{"type":"string"},"bic":{"type":"string"}}},"activities":{"type":"object","nullable":true,"properties":{"mainActivities":{"type":"string"},"secondaryActivities":{"type":"string"},"clients":{"type":"string"},"suppliers":{"type":"string"},"competitors":{"type":"string"}}}}},"details":{"type":"object","nullable":true,"properties":{"street":{"type":"string","nullable":true},"zipCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"addressSupplement":{"type":"string","nullable":true},"workStreet":{"type":"string","nullable":true},"workZipCode":{"type":"string","nullable":true},"workCity":{"type":"string","nullable":true},"workAddressSupplement":{"type":"string","nullable":true},"otherStreet":{"type":"string","nullable":true},"otherZipCode":{"type":"string","nullable":true},"otherCity":{"type":"string","nullable":true},"otherAddressSupplement":{"type":"string","nullable":true},"firstPhoneNumber":{"type":"string","nullable":true},"secondPhoneNumber":{"type":"string","nullable":true},"personalEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"otherEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"fiscalAddress":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"otherCountry":{"type":"string","nullable":true},"workCountry":{"type":"string","nullable":true}}},"type":{"type":"string","nullable":true,"enum":["person","company"]},"assets":{"type":"array","items":{"type":"object","properties":{"ownership":{"type":"number"},"id":{"type":"string","format":"uuid"}},"required":["ownership","id"]},"description":"Assets (partially or fully) owned by the entity"},"providers":{"type":"object","nullable":true,"additionalProperties":{"type":"array","items":{"type":"string"}},"description":"Provider IDs associated with the entity. This field contains a mapping where each key represents a provider name and the value is an array of provider-specific IDs for this entity. This data comes from the funnel.entities.provider_ids column.","example":{"provider1":["id1","id2"],"provider2":["id3"]}},"archived":{"type":"string","nullable":true,"description":"The date when the entity was archived. Null when the entity is active.","example":"2024-01-01T00:00:00.000Z"}},"required":["id","name","updated","assets"]},"Manager":{"type":"object","properties":{"id":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","example":"Jean dupont"},"email":{"type":"string","example":"jean.dupont@company.tld"},"providers":{"type":"object","nullable":true,"properties":{"prisme":{"type":"object","nullable":true,"properties":{"id":{"type":"string","nullable":true},"profile":{"type":"string","nullable":true}}}},"description":"Provider IDs associated with the entity. This field contains a mapping where each key represents a provider name and the value is an array of provider-specific IDs for this entity","example":{"prisme":{"id":"id1","profile":"provider1"}}},"specific":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Value specific to the manager with arbitrary structure"}},"required":["id","name","email"]},"ManagerDetails":{"allOf":[{"$ref":"#/components/schemas/Manager"},{"type":"object","properties":{"phone":{"type":"string","nullable":true,"description":"Phone number of the manager","example":"+33612345678"},"honorific":{"type":"string","nullable":true,"description":"Honorific title of the manager","example":"M."},"birthDate":{"type":"string","nullable":true,"description":"Birth date of the manager"},"address":{"type":"object","nullable":true,"properties":{"street":{"type":"string","nullable":true},"streetAdditional":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"zipCode":{"type":"string","nullable":true},"administrativeArea":{"type":"string","nullable":true},"country":{"type":"string","nullable":true}},"description":"Address of the manager"},"providerCode":{"type":"string","nullable":true,"description":"External provider code for the manager"},"lastActive":{"type":"string","nullable":true,"description":"Last active date of the manager"}}}]},"ProductCatalogue":{"type":"object","nullable":true,"properties":{"id":{"type":"string","format":"uuid","description":"The product catalogue ID (coalesce of parentCatalogueId or catalogue.id)","example":"b1c2d3e4-f5a6-7890-abcd-ef1234567890"},"name":{"type":"string","nullable":true,"description":"Product name (coalesce: referential.name, catalogue.catalogueName)","example":"Cardif Elite Retraite"},"insurerId":{"type":"string","nullable":true,"format":"uuid","description":"The insurer/partner institution ID"},"insurerName":{"type":"string","nullable":true,"description":"The insurer/partner institution name","example":"CARDIF"}},"required":["id"],"description":"Product catalogue information linked to this asset"},"Asset":{"type":"object","properties":{"id":{"type":"string","description":"The unique identifier of the asset","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","description":"The name of the asset","example":"Jean dupont"},"accountNumber":{"type":"string","nullable":true,"description":"The BBAN of the asset"},"group":{"type":"string","enum":["banking","securities","lifeInsurance_capitalization","retirement_employee","crowdfunding","private_equity","direct_registered_account","crypto","benefits","heritage_real_estate","professional_real_estate","commercial_real_estate","real_estate_tax_relief","financial_tax_relief","agricultural_tax_relief","other","rock_paper","exotic","home_loan","business_loan","consumer_loan","other_loan","unrecognized"],"description":"The group of the asset. Note that the group will determine the structure of the asset's metadata","example":"banking"},"management":{"type":"string","enum":["under","none"],"description":"The management of the asset, under if the assets is managed by the company, otherwise none"},"distribution":{"type":"array","items":{"type":"object","properties":{"ownership":{"type":"number"},"entityId":{"type":"string","format":"uuid"}},"required":["ownership","entityId"],"description":"the distribution of ownership shares between entities"}},"providers":{"type":"object","nullable":true,"additionalProperties":{"type":"string"},"description":"Provider IDs associated with the asset. Each key represents a provider name and the value is the provider-specific ID for this asset.","example":{"provider1":"id1","provider2":"id2"}},"productCatalogue":{"$ref":"#/components/schemas/ProductCatalogue"}},"required":["id","name","group","management","distribution"]},"AssetTransaction":{"type":"object","properties":{"id":{"type":"string","description":"The unique identifier of the transaction","example":"tx-123456-abcdef"},"name":{"type":"string","description":"The name/description of the transaction","example":"Payment for services"},"date":{"type":"string","nullable":true,"description":"The date of the transaction.","example":"2024-03-15"},"amount":{"type":"number","description":"The amount of the transaction (in EUR)","example":1250.5},"type":{"type":"string","nullable":true,"description":"The type of the transaction","example":"payment"},"processed":{"type":"string","nullable":true,"description":"The date when the transaction was last processed by the system"}},"required":["id","name","date","amount","processed"]},"Investment":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier of the investment","example":"inv-123456-abcdef"},"label":{"type":"string","nullable":true,"description":"The label/name of the investment","example":"APPLE INC"},"unitPrice":{"type":"number","nullable":true,"description":"The price per unit","example":150.25},"unitValue":{"type":"number","nullable":true,"description":"The current value per unit","example":155.75},"quantity":{"type":"number","nullable":true,"description":"The number of units held","example":100},"valuation":{"type":"number","nullable":true,"description":"The total valuation of the investment","example":15575},"instrument":{"type":"string","nullable":true,"description":"The type of investment instrument","example":"Stock"},"category":{"type":"string","nullable":true,"description":"The investment category","example":"Equity"},"subcategory":{"type":"string","nullable":true,"description":"The investment subcategory","example":"Technology"},"managementCompany":{"type":"string","nullable":true,"description":"The company managing the investment","example":"BlackRock"},"riskIndicator":{"type":"number","nullable":true,"description":"Risk indicator of the investment","example":3},"sri":{"type":"number","nullable":true,"description":"Synthetic Risk Indicator","example":4}},"required":["id"]},"ContractCompany":{"type":"object","properties":{"id":{"type":"number","description":"Internal identifier of the contract/company relation.","example":1200},"contractId":{"type":"number","description":"Identifier of the related contract.","example":45},"companyId":{"type":"string","format":"uuid","description":"Identifier of the related company.","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"date":{"type":"string","nullable":true,"example":"2024-01-18T10:52:16.123Z"},"metadata":{"type":"object","properties":{"performance":{"type":"number","nullable":true},"accountUnits":{"type":"number","nullable":true},"insurerSolvencyRatio":{"type":"number","nullable":true},"managedOptions":{"type":"array","nullable":true,"items":{"type":"string"}},"fundsOrigin":{"type":"string","nullable":true},"annuityType":{"type":"string","nullable":true},"minTransferAmount":{"type":"number","nullable":true},"minFreeTransferAmount":{"type":"number","nullable":true},"minScheduledTransfersAmount":{"type":"number","nullable":true},"minPartialRedemption":{"type":"number","nullable":true},"transferFees":{"type":"number","nullable":true},"prevoyanceGuarantee":{"type":"string","nullable":true},"mortalityTable":{"type":"string","nullable":true},"anuityExitFees":{"type":"number","nullable":true},"advantagesAndRisks":{"type":"string","nullable":true},"beneficiaryClause":{"type":"string","nullable":true},"fees":{"type":"object","nullable":true,"properties":{"managementEuroFunds":{"type":"object","nullable":true,"properties":{"totalPercentage":{"type":"number","nullable":true},"contractPercentage":{"type":"number","nullable":true},"companyPercentage":{"type":"number","nullable":true}}},"managementUC":{"type":"object","nullable":true,"properties":{"totalPercentage":{"type":"number","nullable":true},"contractPercentage":{"type":"number","nullable":true},"companyPercentage":{"type":"number","nullable":true}}},"opening":{"type":"object","nullable":true,"properties":{"totalPercentage":{"type":"number","nullable":true},"contractPercentage":{"type":"number","nullable":true},"companyPercentage":{"type":"number","nullable":true}}},"arbitration":{"type":"object","nullable":true,"properties":{"totalPercentage":{"type":"number","nullable":true},"contractPercentage":{"type":"number","nullable":true},"companyPercentage":{"type":"number","nullable":true}}},"exit":{"type":"object","nullable":true,"properties":{"totalPercentage":{"type":"number","nullable":true},"contractPercentage":{"type":"number","nullable":true},"companyPercentage":{"type":"number","nullable":true}}},"advice":{"type":"object","nullable":true,"properties":{"totalPercentage":{"type":"number","nullable":true},"contractPercentage":{"type":"number","nullable":true},"companyPercentage":{"type":"number","nullable":true}}},"surperformance":{"type":"object","nullable":true,"properties":{"totalPercentage":{"type":"number","nullable":true},"contractPercentage":{"type":"number","nullable":true},"companyPercentage":{"type":"number","nullable":true}}}}}},"description":"Arbitrary metadata attached to the relation."},"fees":{"anyOf":[{"type":"string"},{"type":"object","additionalProperties":{"type":"object","properties":{"type":{"type":"string","enum":["percentage","fixed"]},"total":{"type":"number"},"company":{"type":"number"},"contract":{"type":"number"}},"required":["type","total","company","contract"]}},{"type":"object","properties":{"services":{"type":"object","additionalProperties":{"type":"object","properties":{"type":{"type":"string","enum":["percentage","fixed"]},"total":{"type":"number"},"percentage":{"type":"number"},"feesMode":{"type":"string","enum":["complementary","desinvest","both"]},"feesType":{"type":"string","enum":["enter","variable"]},"feesLink":{"type":"string"},"exanteAmount":{"type":"number"}},"required":["type","total","percentage"]}},"tiers":{"type":"object","additionalProperties":{"type":"object","properties":{"type":{"type":"string","enum":["percentage","fixed"]},"total":{"type":"number"},"percentage":{"type":"number"},"feesMode":{"type":"string","enum":["complementary","desinvest","both"]},"feesType":{"type":"string","enum":["enter","variable"]},"feesLink":{"type":"string"},"exanteAmount":{"type":"number"}},"required":["type","total","percentage"]}},"products":{"type":"object","additionalProperties":{"type":"object","properties":{"type":{"type":"string","enum":["percentage","fixed"]},"total":{"type":"number"},"percentage":{"type":"number"},"feesMode":{"type":"string","enum":["complementary","desinvest","both"]},"feesType":{"type":"string","enum":["enter","variable"]},"feesLink":{"type":"string"},"exanteAmount":{"type":"number"}},"required":["type","total","percentage"]}},"enterFeesAmount":{"type":"number"},"variableFeesAmount":{"type":"number"},"enterPercent":{"type":"number"},"variablePercent":{"type":"number"},"totalValue":{"type":"number"},"totalPercentage":{"type":"number"},"arbitrationEnterFeesAmount":{"type":"number"},"arbitrationVariableFeesAmount":{"type":"number"},"arbitrationEnterPercent":{"type":"number"},"arbitrationVariablePercent":{"type":"number"},"arbitrationTotalValue":{"type":"number"},"arbitrationTotalPercentage":{"type":"number"},"bothEnterFeesAmount":{"type":"number"},"bothVariableFeesAmount":{"type":"number"},"bothEnterPercent":{"type":"number"},"bothVariablePercent":{"type":"number"},"bothTotalValue":{"type":"number"},"bothTotalPercentage":{"type":"number"}},"required":["services","tiers","products"]},{"nullable":true},{"nullable":true}],"description":"Fees definition linked to the contract/company relation."}},"required":["id","contractId","companyId","date","metadata","fees"]},"Transaction":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier of the transaction","example":"tx-123456-abcdef"},"name":{"type":"string","description":"The name/description of the transaction","example":"Payment for services"},"date":{"type":"string","nullable":true,"description":"The date of the transaction","example":"2024-03-15"},"amount":{"type":"number","description":"The amount of the transaction (in EUR)","example":1250.5},"type":{"type":"string","description":"The transaction type key","example":"contribution"},"typeOperation":{"type":"string","nullable":true,"description":"The legacy operation type"},"statusValidation":{"type":"string","nullable":true,"description":"Validation status (pending, valid, reject, etc.)"},"statusBo":{"type":"string","nullable":true,"description":"Back-office status (pending, complete, incomplete, etc.)"},"processed":{"type":"boolean","nullable":true,"description":"Whether the transaction has been processed"},"comment":{"type":"string","nullable":true,"description":"Optional comment on the transaction"},"manager":{"type":"string","nullable":true,"format":"uuid","description":"The manager linked to the transaction"},"managerBo":{"type":"string","nullable":true,"format":"uuid","description":"The back-office manager linked to the transaction"},"created":{"type":"string","nullable":true,"description":"Creation date"},"updated":{"type":"string","nullable":true,"description":"Last update date"},"assetId":{"type":"string","format":"uuid","description":"The ID of the related asset/contract"},"assetName":{"type":"string","nullable":true,"description":"The name of the related asset/contract"},"clientId":{"type":"string","nullable":true,"format":"uuid","description":"The ID of the customer reference linked through the contract"},"insurerName":{"type":"string","nullable":true,"description":"The name of the insurer for the related contract"},"productCatalogue":{"allOf":[{"$ref":"#/components/schemas/ProductCatalogue"},{"description":"Product catalogue information linked to this transaction's asset"}]}},"required":["id","name","date","amount","type","created","updated","assetId"]},"TransactionListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Transaction"}},"pagination":{"type":"object","properties":{"page":{"type":"number","description":"Current pagination page"},"limit":{"type":"number","description":"Maximum number of transactions per page"},"total":{"type":"number","description":"Total number of matching transactions"},"totalPages":{"type":"number","description":"Total number of pages"}},"required":["page","limit","total","totalPages"]}},"required":["data","pagination"]},"TransactionDetail":{"allOf":[{"$ref":"#/components/schemas/Transaction"},{"type":"object","properties":{"dateBo":{"type":"string","nullable":true,"description":"Back-office date"},"sourcesData":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Source data for the transaction"}}}]},"ParentCompany":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier of the parent company","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","description":"The name of the parent company","example":"Apple Paris"},"created":{"type":"string","nullable":true,"description":"The creation date of the parent company","readOnly":true},"updated":{"type":"string","nullable":true,"description":"The last update date of the parent company"},"settingsSynchronization":{"nullable":true,"description":"Synchronization settings for the parent company"}},"required":["id","name","created","updated"]}},"parameters":{}},"paths":{"/companies":{"get":{"operationId":"company_list","summary":"List companies","tags":["Company"],"security":[{"Bearer":[]}],"parameters":[{"schema":{"type":"number","nullable":true,"minimum":0,"default":0,"example":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":1000,"default":10,"example":10},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"sucess - a paginated list of companies","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the company","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","nullable":true,"description":"Name of the company","example":"Apple Paris"},"specific":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Value specific to the company with arbitrary structure","example":{"customField":"customValue"}}},"required":["id","name","specific"]}}}}}}}},"/companies/statistics":{"get":{"operationId":"company_list_statistics","summary":"Retrieve list companies statistics","tags":["Company"],"responses":{"200":{"description":"success - list wide statistics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number","minimum":0,"example":10}},"required":["count"]}}}}}}},"/companies/{companyID}":{"get":{"operationId":"company_retrieve","tags":["Company"],"summary":"Retrieve a company information","parameters":[{"schema":{"type":"string","format":"uuid","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"companyID","in":"path"}],"responses":{"200":{"description":"success - company information","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the company","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","nullable":true,"description":"Name of the company","example":"Apple Paris"},"specific":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Value specific to the company with arbitrary structure","example":{"customField":"customValue"}}},"required":["id","name","specific"]}}}}}},"patch":{"tags":["Company"],"operationId":"company_update","summary":"Update a company information","parameters":[{"schema":{"type":"string","format":"uuid","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"companyID","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1}},"required":["name"]}}}},"responses":{"200":{"description":"success - company updated information","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the company","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","nullable":true,"description":"Name of the company","example":"Apple Paris"},"specific":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Value specific to the company with arbitrary structure","example":{"customField":"customValue"}}},"required":["id","name","specific"]}}}}}},"delete":{"tags":["Company"],"operationId":"company_deletion","summary":"Delete a company","description":"Deletes a company and logs the deletion","parameters":[{"schema":{"type":"string","format":"uuid","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"companyID","in":"path"}],"responses":{"200":{"description":"Company deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the company","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","nullable":true,"description":"Name of the company","example":"Apple Paris"},"specific":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Value specific to the company with arbitrary structure","example":{"customField":"customValue"}}},"required":["id","name","specific"]}}}}}}},"/companies/{companyID}/teams":{"get":{"operationId":"team_list","summary":"List teams","tags":["Team"],"security":[{"Bearer":[]}],"parameters":[{"schema":{"type":"number","nullable":true,"default":0,"minimum":0,"example":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"number","nullable":true,"default":10,"minimum":1,"example":10},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Retrieve the list of teams","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"The name of the team","example":"dev-team"},"description":{"type":"string","nullable":true,"description":"The description of the team","example":"A team for development"},"companyId":{"type":"string","format":"uuid","description":"The ID of the company the team belongs to","example":"550e8400-e29b-41d4-a716-446655440000"},"created":{"type":"string","description":"The creation date of the team","example":"2023-01-01T00:00:00Z"},"updated":{"type":"string","description":"The last update date of the team","example":"2023-01-02T00:00:00Z"}},"required":["name","description","companyId","created","updated"]}}}}}}},"put":{"operationId":"team_creation","tags":["Team"],"summary":"Create a team","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"interns"},"description":{"type":"string","example":"A team of interns."}},"required":["name"]}}}},"responses":{"200":{"description":"The created team","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the team","example":"dev-team"},"description":{"type":"string","nullable":true,"description":"The description of the team","example":"A team for development"},"companyId":{"type":"string","format":"uuid","description":"The ID of the company the team belongs to","example":"550e8400-e29b-41d4-a716-446655440000"},"created":{"type":"string","description":"The creation date of the team","example":"2023-01-01T00:00:00Z"},"updated":{"type":"string","description":"The last update date of the team","example":"2023-01-02T00:00:00Z"}},"required":["name","description","companyId","created","updated"]}}}}}}},"/companies/{companyID}/teams/statistics":{"get":{"operationId":"team_list_statistics","summary":"Retrieve teams statistics","tags":["Team"],"responses":{"200":{"description":"Retrieve teams list wide statistics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number","minimum":0,"example":10}},"required":["count"]}}}}}}},"/companies/{companyID}/teams/{teamName}":{"get":{"operationId":"team_retrieve","tags":["Team"],"summary":"Team retrieval","parameters":[{"schema":{"type":"string","example":"interns"},"required":true,"name":"teamName","in":"path"}],"responses":{"200":{"description":"Retrieve a team information","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the team","example":"dev-team"},"description":{"type":"string","nullable":true,"description":"The description of the team","example":"A team for development"},"companyId":{"type":"string","format":"uuid","description":"The ID of the company the team belongs to","example":"550e8400-e29b-41d4-a716-446655440000"},"created":{"type":"string","description":"The creation date of the team","example":"2023-01-01T00:00:00Z"},"updated":{"type":"string","description":"The last update date of the team","example":"2023-01-02T00:00:00Z"}},"required":["name","description","companyId","created","updated"]}}}}}},"patch":{"operationId":"team_update","tags":["Team"],"summary":"Team update","parameters":[{"schema":{"type":"string","example":"interns"},"required":true,"name":"teamName","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"interns"},"description":{"type":"string","example":"A team of interns."}},"required":["name"]}}}},"responses":{"200":{"description":"The updated team","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the team","example":"dev-team"},"description":{"type":"string","nullable":true,"description":"The description of the team","example":"A team for development"},"companyId":{"type":"string","format":"uuid","description":"The ID of the company the team belongs to","example":"550e8400-e29b-41d4-a716-446655440000"},"created":{"type":"string","description":"The creation date of the team","example":"2023-01-01T00:00:00Z"},"updated":{"type":"string","description":"The last update date of the team","example":"2023-01-02T00:00:00Z"}},"required":["name","description","companyId","created","updated"]}}}}}},"delete":{"operationId":"team_deletion","tags":["Team"],"summary":"Delete a team","parameters":[{"schema":{"type":"string","example":"interns"},"required":true,"name":"teamName","in":"path"}],"responses":{"200":{"description":"The team was deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the team","example":"dev-team"},"description":{"type":"string","nullable":true,"description":"The description of the team","example":"A team for development"},"companyId":{"type":"string","format":"uuid","description":"The ID of the company the team belongs to","example":"550e8400-e29b-41d4-a716-446655440000"},"created":{"type":"string","description":"The creation date of the team","example":"2023-01-01T00:00:00Z"},"updated":{"type":"string","description":"The last update date of the team","example":"2023-01-02T00:00:00Z"}},"required":["name","description","companyId","created","updated"]}}}}}}},"/companies/{companyID}/teams/{teamName}/statistics":{"get":{"operationId":"team_statistics","tags":["Team"],"summary":"Retrieve team statistics","parameters":[{"schema":{"type":"string","example":"interns"},"required":true,"name":"teamName","in":"path"}],"responses":{"200":{"description":"Retrieve team statistics","content":{"application/json":{"schema":{"type":"object","properties":{"customers":{"type":"number","description":"Number of customers managed by the team","minimum":0,"example":10},"contracts":{"type":"number","description":"Number of contract managed by the team","minimum":0,"example":10},"members":{"type":"number","description":"Number of members in the team","minimum":0,"example":10},"leaders":{"type":"number","description":"Number of leaders in the team","minimum":0,"example":10},"subordinate":{"type":"number","description":"Number of subordinates in the team","minimum":0,"example":10}},"required":["customers","contracts","members","leaders","subordinate"]}}}}}}},"/companies/{companyID}/teams/{teamName}/members":{"get":{"operationId":"team_members_list","summary":"List team members","tags":["Team Member"],"parameters":[{"schema":{"type":"string","example":"interns"},"required":true,"name":"teamName","in":"path"},{"schema":{"type":"number","nullable":true,"default":0,"minimum":0,"example":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"number","nullable":true,"default":10,"minimum":1,"example":10},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"Retrieve the list of team members","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","example":"Jean dupont"},"email":{"type":"string","example":"jean.dupont@company.tld"},"providers":{"type":"object","nullable":true,"properties":{"prisme":{"type":"object","nullable":true,"properties":{"id":{"type":"string","nullable":true},"profile":{"type":"string","nullable":true}}}},"description":"Provider IDs associated with the entity. This field contains a mapping where each key represents a provider name and the value is an array of provider-specific IDs for this entity","example":{"prisme":{"id":"id1","profile":"provider1"}}},"specific":{"type":"object","nullable":true,"additionalProperties":{"nullable":true},"description":"Value specific to the manager with arbitrary structure"},"leader":{"type":"boolean"}},"required":["id","name","email","leader"]}}}}}}},"put":{"operationId":"team_member_creation","tags":["Team Member"],"summary":"Create a team member","parameters":[{"schema":{"type":"string","example":"interns"},"required":true,"name":"teamName","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"managerId":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"leader":{"type":"boolean","example":true}},"required":["managerId","leader"]}}}}},"responses":{"204":{"description":"Manager added to the team"}}}},"/companies/{companyID}/entities":{"get":{"operationId":"entities_list","summary":"Entities list","tags":["Entity"],"parameters":[{"schema":{"type":"number","nullable":true,"default":0,"minimum":0,"example":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"number","nullable":true,"default":10,"minimum":1,"example":10},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Filter customers created after this date","example":"2024-01-01T00:00:00.000Z"},"required":false,"name":"creation_from","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Filter customers created before this date","example":"2024-01-01T00:00:00.000Z"},"required":false,"name":"creation_to","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Filter customers updated after this date","example":"2024-01-01T00:00:00.000Z"},"required":false,"name":"updated_from","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Filter customers updated before this date","example":"2024-01-01T00:00:00.000Z"},"required":false,"name":"updated_to","in":"query"},{"schema":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"],"description":"Filter by reference type","example":"customer"},"required":false,"name":"reference_type","in":"query"},{"schema":{"type":"boolean","nullable":true,"description":"Filter archived entities when true. When false, only active entities are returned. When omitted, both are returned.","example":false},"required":false,"name":"archived","in":"query"}],"responses":{"200":{"description":"success - paginated list of entities","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Entity"}}}}}}}},"/companies/{companyID}/entities/statistics":{"get":{"operationId":"entities_list_statistics","summary":"Entities list statistics","tags":["Entity"],"parameters":[{"schema":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"],"description":"Filter by reference type","example":"customer"},"required":false,"name":"reference_type","in":"query"},{"schema":{"type":"boolean","nullable":true,"description":"Filter archived entities when true. When false, only active entities are returned. When omitted, both are returned.","example":false},"required":false,"name":"archived","in":"query"}],"responses":{"200":{"description":"success - entities wide statistics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number","minimum":0,"example":10}},"required":["count"]}}}}}}},"/companies/{companyID}/entities/{entityID}":{"get":{"operationId":"entity_informations","tags":["Entity"],"summary":"Get entity informations","parameters":[{"schema":{"type":"string","format":"uuid","description":"The ID of the entity to update","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"entityID","in":"path"},{"schema":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"],"description":"Filter by reference type","example":"customer"},"required":false,"name":"reference_type","in":"query"}],"responses":{"200":{"description":"success - entity informations","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c","readOnly":true},"name":{"type":"string","example":"Jean dupont","readOnly":true},"created":{"type":"string","nullable":true,"description":"The date of creation of the customer","example":"2024-01-01T00:00:00.000Z","readOnly":true},"updated":{"type":"string","description":"The date of the last update of the customer","example":"2024-01-01T00:00:00.000Z"},"general":{"type":"object","nullable":true,"properties":{"entryDateIntoRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"entryIntoRelationshipNote":{"type":"string","nullable":true},"gender":{"type":"string","nullable":true,"enum":["male","female"],"default":"male"},"name":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"firstName":{"type":"string","nullable":true},"birthDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"birthZipCode":{"type":"string","nullable":true},"birthRegion":{"type":"string","nullable":true},"birthCity":{"type":"string","nullable":true},"birthCountry":{"type":"string","nullable":true},"birthName":{"type":"string","nullable":true},"deathDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"familySituation":{"type":"string","nullable":true,"enum":["none","inARelationship","civilUnion","remarried","pendingDivorce","single","deceased","widowed","married","freeUnion","domesticPartnership","divorced","cohabitation","separated"]},"marriageDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"nationality":{"type":"string","nullable":true},"matrimonialRegime":{"type":"string","nullable":true},"studiesLevel":{"type":"string","nullable":true,"enum":["none","certificate","highSchool","bachelor","master","doctorate"]},"occupation":{"type":"string","nullable":true},"occupationWording":{"type":"string","nullable":true},"retirementAge":{"type":"number","nullable":true},"annualIncome":{"anyOf":[{"type":"string"},{"type":"number"},{"nullable":true}]},"heritageOrigin":{"type":"string","nullable":true},"sectorOfActivity":{"type":"string","nullable":true},"dateEntryRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idCard":{"type":"string","nullable":true},"idNumber":{"type":"string","nullable":true},"issueDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"authority":{"type":"string","nullable":true},"expirationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idNIF":{"type":"string","nullable":true},"idMIF":{"type":"string","nullable":true},"taxResidence":{"type":"string","nullable":true},"customerClassificationMIF":{"type":"string","nullable":true},"classificationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"pep":{"type":"boolean","nullable":true},"usPerson":{"type":"boolean","nullable":true},"legalCapacity":{"type":"string","nullable":true,"enum":["noMeasure","capable","protectedUnderGuardianship","protectedUnderCuratorship","underJudicialSafeguard","unemancipatedMinor","emancipatedMinor","underJudicialConstraint","underGuardianship","absentOrOtherCapableMajor","other","judicialSafeguard","guardianship","enhancedGuardianship","custody","futureProtectionMandate","adHocAdministrator","posthumousMandate","oldStateGuardianship","oldGuardianshipManagement","oldGuardianshipArt511","oldGuardianshipArt512","privateManagementCustody","familyEmpowermentRepresentation","legalAdministration","familyEmpowermentAssistance"]},"tag":{"type":"string","nullable":true},"referencesType":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"]},"updated":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"homeAdress":{"type":"string","nullable":true},"complement":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"secondaryNationality":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"professionalCategory":{"type":"string","nullable":true},"externalClientFileReference":{"type":"string","nullable":true},"information":{"type":"object","nullable":true,"properties":{"socialReason":{"type":"string","nullable":true,"minLength":1},"contact":{"type":"string","nullable":true},"firstAddress":{"type":"string","nullable":true},"secondAddress":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"fax":{"type":"string","nullable":true},"email":{"type":"string","nullable":true,"minLength":1,"format":"email"},"website":{"type":"string","nullable":true},"holdingId":{"type":"string","nullable":true},"siren":{"type":"string","nullable":true},"siret":{"type":"string","nullable":true},"ape":{"type":"string","nullable":true},"rcsNumber":{"type":"string","nullable":true},"creationDate":{"type":"string","nullable":true},"legalForm":{"type":"string","nullable":true},"socialCapital":{"type":"number","nullable":true},"headOfficeAddress":{"type":"string","nullable":true},"managers":{"type":"array","nullable":true,"items":{"type":"object","properties":{"managerID":{"type":"string"},"primary":{"type":"boolean"}},"required":["managerID","primary"]}},"seniorAdvisor":{"type":"string","nullable":true},"secondaryAdvisor":{"type":"string","nullable":true},"entryDateIntoRelationship":{"type":"string","nullable":true},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"type":"string","nullable":true},"entryIntoRelationshipNote":{"type":"string","nullable":true},"ownership":{"type":"number","nullable":true},"valuation":{"type":"number","nullable":true}}},"managers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"nbManagers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"bankAccounts":{"type":"object","nullable":true,"properties":{"banks":{"type":"string"},"iban":{"type":"string"},"bankAccountNumbers":{"type":"string"},"bic":{"type":"string"}}},"activities":{"type":"object","nullable":true,"properties":{"mainActivities":{"type":"string"},"secondaryActivities":{"type":"string"},"clients":{"type":"string"},"suppliers":{"type":"string"},"competitors":{"type":"string"}}}}},"details":{"type":"object","nullable":true,"properties":{"street":{"type":"string","nullable":true},"zipCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"addressSupplement":{"type":"string","nullable":true},"workStreet":{"type":"string","nullable":true},"workZipCode":{"type":"string","nullable":true},"workCity":{"type":"string","nullable":true},"workAddressSupplement":{"type":"string","nullable":true},"otherStreet":{"type":"string","nullable":true},"otherZipCode":{"type":"string","nullable":true},"otherCity":{"type":"string","nullable":true},"otherAddressSupplement":{"type":"string","nullable":true},"firstPhoneNumber":{"type":"string","nullable":true},"secondPhoneNumber":{"type":"string","nullable":true},"personalEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"otherEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"fiscalAddress":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"otherCountry":{"type":"string","nullable":true},"workCountry":{"type":"string","nullable":true}}},"type":{"type":"string","nullable":true,"enum":["person","company"]},"assets":{"type":"array","items":{"type":"object","properties":{"ownership":{"type":"number"},"id":{"type":"string","format":"uuid"}},"required":["ownership","id"]},"description":"Assets (partially or fully) owned by the entity"},"providers":{"type":"object","nullable":true,"additionalProperties":{"type":"array","items":{"type":"string"}},"description":"Provider IDs associated with the entity. This field contains a mapping where each key represents a provider name and the value is an array of provider-specific IDs for this entity. This data comes from the funnel.entities.provider_ids column.","example":{"provider1":["id1","id2"],"provider2":["id3"]}},"archived":{"type":"string","nullable":true,"description":"The date when the entity was archived. Null when the entity is active.","example":"2024-01-01T00:00:00.000Z"},"references":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":true,"format":"uuid","description":"The ID of the reference entity.","example":"e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6"},"referenceType":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"],"description":"The type of the aggregation entity.","example":"customer"}}}}},"required":["id","name","updated","assets","references"]}}}}}},"patch":{"operationId":"entity_modification","tags":["Entity"],"summary":"Update entity informations","parameters":[{"schema":{"type":"string","format":"uuid","description":"The ID of the entity to update","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"entityID","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"general":{"type":"object","nullable":true,"properties":{"entryDateIntoRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"entryIntoRelationshipNote":{"type":"string","nullable":true},"gender":{"type":"string","nullable":true,"enum":["male","female"],"default":"male"},"name":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"firstName":{"type":"string","nullable":true},"birthDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"birthZipCode":{"type":"string","nullable":true},"birthRegion":{"type":"string","nullable":true},"birthCity":{"type":"string","nullable":true},"birthCountry":{"type":"string","nullable":true},"birthName":{"type":"string","nullable":true},"deathDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"familySituation":{"type":"string","nullable":true,"enum":["none","inARelationship","civilUnion","remarried","pendingDivorce","single","deceased","widowed","married","freeUnion","domesticPartnership","divorced","cohabitation","separated"]},"marriageDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"nationality":{"type":"string","nullable":true},"matrimonialRegime":{"type":"string","nullable":true},"studiesLevel":{"type":"string","nullable":true,"enum":["none","certificate","highSchool","bachelor","master","doctorate"]},"occupation":{"type":"string","nullable":true},"occupationWording":{"type":"string","nullable":true},"retirementAge":{"type":"number","nullable":true},"annualIncome":{"anyOf":[{"type":"string"},{"type":"number"},{"nullable":true}]},"heritageOrigin":{"type":"string","nullable":true},"sectorOfActivity":{"type":"string","nullable":true},"dateEntryRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idCard":{"type":"string","nullable":true},"idNumber":{"type":"string","nullable":true},"issueDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"authority":{"type":"string","nullable":true},"expirationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idNIF":{"type":"string","nullable":true},"idMIF":{"type":"string","nullable":true},"taxResidence":{"type":"string","nullable":true},"customerClassificationMIF":{"type":"string","nullable":true},"classificationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"pep":{"type":"boolean","nullable":true},"usPerson":{"type":"boolean","nullable":true},"legalCapacity":{"type":"string","nullable":true,"enum":["noMeasure","capable","protectedUnderGuardianship","protectedUnderCuratorship","underJudicialSafeguard","unemancipatedMinor","emancipatedMinor","underJudicialConstraint","underGuardianship","absentOrOtherCapableMajor","other","judicialSafeguard","guardianship","enhancedGuardianship","custody","futureProtectionMandate","adHocAdministrator","posthumousMandate","oldStateGuardianship","oldGuardianshipManagement","oldGuardianshipArt511","oldGuardianshipArt512","privateManagementCustody","familyEmpowermentRepresentation","legalAdministration","familyEmpowermentAssistance"]},"tag":{"type":"string","nullable":true},"referencesType":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"]},"updated":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"homeAdress":{"type":"string","nullable":true},"complement":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"secondaryNationality":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"professionalCategory":{"type":"string","nullable":true},"externalClientFileReference":{"type":"string","nullable":true},"information":{"type":"object","nullable":true,"properties":{"socialReason":{"type":"string","nullable":true,"minLength":1},"contact":{"type":"string","nullable":true},"firstAddress":{"type":"string","nullable":true},"secondAddress":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"fax":{"type":"string","nullable":true},"email":{"type":"string","nullable":true,"minLength":1,"format":"email"},"website":{"type":"string","nullable":true},"holdingId":{"type":"string","nullable":true},"siren":{"type":"string","nullable":true},"siret":{"type":"string","nullable":true},"ape":{"type":"string","nullable":true},"rcsNumber":{"type":"string","nullable":true},"creationDate":{"type":"string","nullable":true},"legalForm":{"type":"string","nullable":true},"socialCapital":{"type":"number","nullable":true},"headOfficeAddress":{"type":"string","nullable":true},"managers":{"type":"array","nullable":true,"items":{"type":"object","properties":{"managerID":{"type":"string"},"primary":{"type":"boolean"}},"required":["managerID","primary"]}},"seniorAdvisor":{"type":"string","nullable":true},"secondaryAdvisor":{"type":"string","nullable":true},"entryDateIntoRelationship":{"type":"string","nullable":true},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"type":"string","nullable":true},"entryIntoRelationshipNote":{"type":"string","nullable":true},"ownership":{"type":"number","nullable":true},"valuation":{"type":"number","nullable":true}}},"managers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"nbManagers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"bankAccounts":{"type":"object","nullable":true,"properties":{"banks":{"type":"string"},"iban":{"type":"string"},"bankAccountNumbers":{"type":"string"},"bic":{"type":"string"}}},"activities":{"type":"object","nullable":true,"properties":{"mainActivities":{"type":"string"},"secondaryActivities":{"type":"string"},"clients":{"type":"string"},"suppliers":{"type":"string"},"competitors":{"type":"string"}}}}},"details":{"type":"object","nullable":true,"properties":{"street":{"type":"string","nullable":true},"zipCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"addressSupplement":{"type":"string","nullable":true},"workStreet":{"type":"string","nullable":true},"workZipCode":{"type":"string","nullable":true},"workCity":{"type":"string","nullable":true},"workAddressSupplement":{"type":"string","nullable":true},"otherStreet":{"type":"string","nullable":true},"otherZipCode":{"type":"string","nullable":true},"otherCity":{"type":"string","nullable":true},"otherAddressSupplement":{"type":"string","nullable":true},"firstPhoneNumber":{"type":"string","nullable":true},"secondPhoneNumber":{"type":"string","nullable":true},"personalEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"otherEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"fiscalAddress":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"otherCountry":{"type":"string","nullable":true},"workCountry":{"type":"string","nullable":true}}}}}}}},"responses":{"200":{"description":"success - entity informations","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c","readOnly":true},"name":{"type":"string","example":"Jean dupont","readOnly":true},"created":{"type":"string","nullable":true,"description":"The date of creation of the customer","example":"2024-01-01T00:00:00.000Z","readOnly":true},"updated":{"type":"string","description":"The date of the last update of the customer","example":"2024-01-01T00:00:00.000Z"},"general":{"type":"object","nullable":true,"properties":{"entryDateIntoRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"entryIntoRelationshipNote":{"type":"string","nullable":true},"gender":{"type":"string","nullable":true,"enum":["male","female"],"default":"male"},"name":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"firstName":{"type":"string","nullable":true},"birthDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"birthZipCode":{"type":"string","nullable":true},"birthRegion":{"type":"string","nullable":true},"birthCity":{"type":"string","nullable":true},"birthCountry":{"type":"string","nullable":true},"birthName":{"type":"string","nullable":true},"deathDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"familySituation":{"type":"string","nullable":true,"enum":["none","inARelationship","civilUnion","remarried","pendingDivorce","single","deceased","widowed","married","freeUnion","domesticPartnership","divorced","cohabitation","separated"]},"marriageDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"nationality":{"type":"string","nullable":true},"matrimonialRegime":{"type":"string","nullable":true},"studiesLevel":{"type":"string","nullable":true,"enum":["none","certificate","highSchool","bachelor","master","doctorate"]},"occupation":{"type":"string","nullable":true},"occupationWording":{"type":"string","nullable":true},"retirementAge":{"type":"number","nullable":true},"annualIncome":{"anyOf":[{"type":"string"},{"type":"number"},{"nullable":true}]},"heritageOrigin":{"type":"string","nullable":true},"sectorOfActivity":{"type":"string","nullable":true},"dateEntryRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idCard":{"type":"string","nullable":true},"idNumber":{"type":"string","nullable":true},"issueDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"authority":{"type":"string","nullable":true},"expirationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idNIF":{"type":"string","nullable":true},"idMIF":{"type":"string","nullable":true},"taxResidence":{"type":"string","nullable":true},"customerClassificationMIF":{"type":"string","nullable":true},"classificationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"pep":{"type":"boolean","nullable":true},"usPerson":{"type":"boolean","nullable":true},"legalCapacity":{"type":"string","nullable":true,"enum":["noMeasure","capable","protectedUnderGuardianship","protectedUnderCuratorship","underJudicialSafeguard","unemancipatedMinor","emancipatedMinor","underJudicialConstraint","underGuardianship","absentOrOtherCapableMajor","other","judicialSafeguard","guardianship","enhancedGuardianship","custody","futureProtectionMandate","adHocAdministrator","posthumousMandate","oldStateGuardianship","oldGuardianshipManagement","oldGuardianshipArt511","oldGuardianshipArt512","privateManagementCustody","familyEmpowermentRepresentation","legalAdministration","familyEmpowermentAssistance"]},"tag":{"type":"string","nullable":true},"referencesType":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"]},"updated":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"homeAdress":{"type":"string","nullable":true},"complement":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"secondaryNationality":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"professionalCategory":{"type":"string","nullable":true},"externalClientFileReference":{"type":"string","nullable":true},"information":{"type":"object","nullable":true,"properties":{"socialReason":{"type":"string","nullable":true,"minLength":1},"contact":{"type":"string","nullable":true},"firstAddress":{"type":"string","nullable":true},"secondAddress":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"fax":{"type":"string","nullable":true},"email":{"type":"string","nullable":true,"minLength":1,"format":"email"},"website":{"type":"string","nullable":true},"holdingId":{"type":"string","nullable":true},"siren":{"type":"string","nullable":true},"siret":{"type":"string","nullable":true},"ape":{"type":"string","nullable":true},"rcsNumber":{"type":"string","nullable":true},"creationDate":{"type":"string","nullable":true},"legalForm":{"type":"string","nullable":true},"socialCapital":{"type":"number","nullable":true},"headOfficeAddress":{"type":"string","nullable":true},"managers":{"type":"array","nullable":true,"items":{"type":"object","properties":{"managerID":{"type":"string"},"primary":{"type":"boolean"}},"required":["managerID","primary"]}},"seniorAdvisor":{"type":"string","nullable":true},"secondaryAdvisor":{"type":"string","nullable":true},"entryDateIntoRelationship":{"type":"string","nullable":true},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"type":"string","nullable":true},"entryIntoRelationshipNote":{"type":"string","nullable":true},"ownership":{"type":"number","nullable":true},"valuation":{"type":"number","nullable":true}}},"managers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"nbManagers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"bankAccounts":{"type":"object","nullable":true,"properties":{"banks":{"type":"string"},"iban":{"type":"string"},"bankAccountNumbers":{"type":"string"},"bic":{"type":"string"}}},"activities":{"type":"object","nullable":true,"properties":{"mainActivities":{"type":"string"},"secondaryActivities":{"type":"string"},"clients":{"type":"string"},"suppliers":{"type":"string"},"competitors":{"type":"string"}}}}},"details":{"type":"object","nullable":true,"properties":{"street":{"type":"string","nullable":true},"zipCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"addressSupplement":{"type":"string","nullable":true},"workStreet":{"type":"string","nullable":true},"workZipCode":{"type":"string","nullable":true},"workCity":{"type":"string","nullable":true},"workAddressSupplement":{"type":"string","nullable":true},"otherStreet":{"type":"string","nullable":true},"otherZipCode":{"type":"string","nullable":true},"otherCity":{"type":"string","nullable":true},"otherAddressSupplement":{"type":"string","nullable":true},"firstPhoneNumber":{"type":"string","nullable":true},"secondPhoneNumber":{"type":"string","nullable":true},"personalEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"otherEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"fiscalAddress":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"otherCountry":{"type":"string","nullable":true},"workCountry":{"type":"string","nullable":true}}},"type":{"type":"string","nullable":true,"enum":["person","company"]},"providers":{"type":"object","nullable":true,"additionalProperties":{"type":"array","items":{"type":"string"}},"description":"Provider IDs associated with the entity. This field contains a mapping where each key represents a provider name and the value is an array of provider-specific IDs for this entity. This data comes from the funnel.entities.provider_ids column.","example":{"provider1":["id1","id2"],"provider2":["id3"]}},"archived":{"type":"string","nullable":true,"description":"The date when the entity was archived. Null when the entity is active.","example":"2024-01-01T00:00:00.000Z"}},"required":["id","name","updated"]}}}}}}},"/companies/{companyID}/references/statistics":{"get":{"operationId":"customer_references_list_statistics","summary":"Customer references list statistics","tags":["Reference"],"parameters":[{"schema":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"],"description":"Filter by reference type","example":"customer"},"required":false,"name":"reference_type","in":"query"}],"responses":{"200":{"description":"success - customer references wide statistics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number","minimum":0,"example":10}},"required":["count"]}}}}}}},"/companies/{companyID}/references":{"get":{"operationId":"references_list","summary":"List of reference","tags":["Reference"],"parameters":[{"schema":{"type":"number","nullable":true,"default":0,"minimum":0,"example":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"number","nullable":true,"default":10,"minimum":1,"example":10},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Filter customers created after this date","example":"2024-01-01T00:00:00.000Z"},"required":false,"name":"creation_from","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Filter customers created before this date","example":"2024-01-01T00:00:00.000Z"},"required":false,"name":"creation_to","in":"query"},{"schema":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"],"description":"Filter by reference type","example":"customer"},"required":false,"name":"reference_type","in":"query"}],"responses":{"200":{"description":"success - paginated list of customers","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The references ID."},"companyId":{"type":"string","format":"uuid","description":"The company in which the reference is part of."},"created":{"type":"string","nullable":true,"description":"The date of creation of the reference.","example":"2024-01-01T00:00:00.000Z"},"tag":{"type":"string","nullable":true,"description":"The tag of the reference.","example":"VIP"},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":true,"format":"uuid","description":"The ID of the aggregation entity.","example":"e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6"},"type":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"],"description":"The type of the aggregation entity.","example":"customer"}}}},"access":{"type":"array","items":{"type":"object","properties":{"managerId":{"type":"string","format":"uuid","description":"The ID of the manager who has access to the reference.","example":"e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6"},"primary":{"type":"boolean","default":false,"description":"Whether the manager is the primary contact for the reference.","example":true},"assignment":{"type":"string","enum":["manual","automatic","team"],"default":"manual","description":"How the access was assigned to the manager.","example":"manual"}},"required":["managerId"]}}},"required":["id","companyId","created","entities","access"],"description":"A \"customer\" reference is like a folder containing one or more aggregations entities"}}}}}}},"put":{"operationId":"references_creation","summary":"Create a reference","tags":["Reference"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"companyId":{"type":"string","format":"uuid","description":"The company in which the reference is part of."},"tag":{"type":"string","nullable":true,"description":"The tag of the reference.","example":"VIP"},"entities":{"type":"array","items":{"type":"object","properties":{"general":{"type":"object","nullable":true,"properties":{"entryDateIntoRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"entryIntoRelationshipNote":{"type":"string","nullable":true},"gender":{"type":"string","nullable":true,"enum":["male","female"],"default":"male"},"name":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"firstName":{"type":"string","nullable":true},"birthDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"birthZipCode":{"type":"string","nullable":true},"birthRegion":{"type":"string","nullable":true},"birthCity":{"type":"string","nullable":true},"birthCountry":{"type":"string","nullable":true},"birthName":{"type":"string","nullable":true},"deathDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"familySituation":{"type":"string","nullable":true,"enum":["none","inARelationship","civilUnion","remarried","pendingDivorce","single","deceased","widowed","married","freeUnion","domesticPartnership","divorced","cohabitation","separated"]},"marriageDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"nationality":{"type":"string","nullable":true},"matrimonialRegime":{"type":"string","nullable":true},"studiesLevel":{"type":"string","nullable":true,"enum":["none","certificate","highSchool","bachelor","master","doctorate"]},"occupation":{"type":"string","nullable":true},"occupationWording":{"type":"string","nullable":true},"retirementAge":{"type":"number","nullable":true},"annualIncome":{"anyOf":[{"type":"string"},{"type":"number"},{"nullable":true}]},"heritageOrigin":{"type":"string","nullable":true},"sectorOfActivity":{"type":"string","nullable":true},"dateEntryRelationship":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idCard":{"type":"string","nullable":true},"idNumber":{"type":"string","nullable":true},"issueDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"authority":{"type":"string","nullable":true},"expirationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"idNIF":{"type":"string","nullable":true},"idMIF":{"type":"string","nullable":true},"taxResidence":{"type":"string","nullable":true},"customerClassificationMIF":{"type":"string","nullable":true},"classificationDate":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"pep":{"type":"boolean","nullable":true},"usPerson":{"type":"boolean","nullable":true},"legalCapacity":{"type":"string","nullable":true,"enum":["noMeasure","capable","protectedUnderGuardianship","protectedUnderCuratorship","underJudicialSafeguard","unemancipatedMinor","emancipatedMinor","underJudicialConstraint","underGuardianship","absentOrOtherCapableMajor","other","judicialSafeguard","guardianship","enhancedGuardianship","custody","futureProtectionMandate","adHocAdministrator","posthumousMandate","oldStateGuardianship","oldGuardianshipManagement","oldGuardianshipArt511","oldGuardianshipArt512","privateManagementCustody","familyEmpowermentRepresentation","legalAdministration","familyEmpowermentAssistance"]},"tag":{"type":"string","nullable":true},"referencesType":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"]},"updated":{"anyOf":[{"type":"string"},{"type":"string"},{"nullable":true}]},"homeAdress":{"type":"string","nullable":true},"complement":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"note":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"secondaryNationality":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"professionalCategory":{"type":"string","nullable":true},"externalClientFileReference":{"type":"string","nullable":true},"information":{"type":"object","nullable":true,"properties":{"socialReason":{"type":"string","nullable":true,"minLength":1},"contact":{"type":"string","nullable":true},"firstAddress":{"type":"string","nullable":true},"secondAddress":{"type":"string","nullable":true},"postalCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"phone":{"type":"string","nullable":true},"fax":{"type":"string","nullable":true},"email":{"type":"string","nullable":true,"minLength":1,"format":"email"},"website":{"type":"string","nullable":true},"holdingId":{"type":"string","nullable":true},"siren":{"type":"string","nullable":true},"siret":{"type":"string","nullable":true},"ape":{"type":"string","nullable":true},"rcsNumber":{"type":"string","nullable":true},"creationDate":{"type":"string","nullable":true},"legalForm":{"type":"string","nullable":true},"socialCapital":{"type":"number","nullable":true},"headOfficeAddress":{"type":"string","nullable":true},"managers":{"type":"array","nullable":true,"items":{"type":"object","properties":{"managerID":{"type":"string"},"primary":{"type":"boolean"}},"required":["managerID","primary"]}},"seniorAdvisor":{"type":"string","nullable":true},"secondaryAdvisor":{"type":"string","nullable":true},"entryDateIntoRelationship":{"type":"string","nullable":true},"originCustomerRelationship":{"type":"string","nullable":true,"enum":["incomingCall","outgoingCall","affiliate","eContact","eContactTmp","businessCapital","boogeLeads","prospecting","portfolioBuyout","aktifPlusMeeting","ifbMeeting","recommendation","signatureClient","meetingTmp","meeting","socialNetwork","retiree","tradeShows","website","dinner","spontaneousSolicitation","internalFollowUp","guardianshipAssociation","relationship","prescriber","formerClient","other"]},"contactCustomerRelationship":{"type":"string","nullable":true},"remoteOpening":{"type":"boolean","nullable":true},"dateLastMeeting":{"type":"string","nullable":true},"entryIntoRelationshipNote":{"type":"string","nullable":true},"ownership":{"type":"number","nullable":true},"valuation":{"type":"number","nullable":true}}},"managers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"nbManagers":{"type":"object","nullable":true,"properties":{"lastNameFirstName":{"type":"string"},"function":{"type":"string"},"birthDate":{"type":"string","nullable":true},"nationality":{"type":"string"},"personalAddress":{"type":"string"},"personalPhoneNumber":{"type":"string"},"personalEmailAddress":{"type":"string","minLength":1,"format":"email"},"shareholderInformation":{"type":"string"},"idCard":{"type":"string"},"idNumber":{"type":"string"}}},"bankAccounts":{"type":"object","nullable":true,"properties":{"banks":{"type":"string"},"iban":{"type":"string"},"bankAccountNumbers":{"type":"string"},"bic":{"type":"string"}}},"activities":{"type":"object","nullable":true,"properties":{"mainActivities":{"type":"string"},"secondaryActivities":{"type":"string"},"clients":{"type":"string"},"suppliers":{"type":"string"},"competitors":{"type":"string"}}}}},"details":{"type":"object","nullable":true,"properties":{"street":{"type":"string","nullable":true},"zipCode":{"type":"string","nullable":true},"city":{"type":"string","nullable":true},"addressSupplement":{"type":"string","nullable":true},"workStreet":{"type":"string","nullable":true},"workZipCode":{"type":"string","nullable":true},"workCity":{"type":"string","nullable":true},"workAddressSupplement":{"type":"string","nullable":true},"otherStreet":{"type":"string","nullable":true},"otherZipCode":{"type":"string","nullable":true},"otherCity":{"type":"string","nullable":true},"otherAddressSupplement":{"type":"string","nullable":true},"firstPhoneNumber":{"type":"string","nullable":true},"secondPhoneNumber":{"type":"string","nullable":true},"personalEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"otherEmail":{"type":"string","nullable":true,"minLength":1,"format":"email"},"fiscalAddress":{"type":"string","nullable":true},"country":{"type":"string","nullable":true},"otherCountry":{"type":"string","nullable":true},"workCountry":{"type":"string","nullable":true}}},"type":{"type":"string","nullable":true,"enum":["person","company"]},"referenceType":{"type":"string","enum":["customer","oldCustomer","prospect","relation"],"default":"customer","description":"The type of the aggregation entity.","example":"customer"}}},"minItems":1},"access":{"type":"array","nullable":true,"items":{"type":"object","properties":{"managerId":{"type":"string","format":"uuid","description":"The ID of the manager who has access to the reference.","example":"e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6"},"primary":{"type":"boolean","default":false,"description":"Whether the manager is the primary contact for the reference.","example":false},"assignment":{"type":"string","enum":["manual","automatic","team"],"default":"manual","description":"How the access was assigned to the manager.","example":"manual"}},"required":["managerId"]}}},"required":["companyId","entities"]}}}},"responses":{"200":{"description":"success - a reference information","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The references ID."},"companyId":{"type":"string","format":"uuid","description":"The company in which the reference is part of."},"created":{"type":"string","nullable":true,"description":"The date of creation of the reference.","example":"2024-01-01T00:00:00.000Z"},"tag":{"type":"string","nullable":true,"description":"The tag of the reference.","example":"VIP"}},"required":["id","companyId","created"]}}}}}}},"/companies/{companyID}/references/{reference-id}":{"get":{"operationId":"references_informations","summary":"Reference information","tags":["Reference"],"parameters":[{"schema":{"type":"string","format":"uuid","description":"The ID of the reference to retrieve","example":"e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6"},"required":true,"name":"reference-id","in":"path"}],"responses":{"200":{"description":"success - a reference information","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The references ID."},"companyId":{"type":"string","format":"uuid","description":"The company in which the reference is part of."},"created":{"type":"string","nullable":true,"description":"The date of creation of the reference.","example":"2024-01-01T00:00:00.000Z"},"tag":{"type":"string","nullable":true,"description":"The tag of the reference.","example":"VIP"},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","nullable":true,"format":"uuid","description":"The ID of the aggregation entity.","example":"e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6"},"type":{"type":"string","nullable":true,"enum":["customer","oldCustomer","prospect","relation"],"description":"The type of the aggregation entity.","example":"customer"}}}},"access":{"type":"array","items":{"type":"object","properties":{"managerId":{"type":"string","format":"uuid","description":"The ID of the manager who has access to the reference.","example":"e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6"},"primary":{"type":"boolean","default":false,"description":"Whether the manager is the primary contact for the reference.","example":true},"assignment":{"type":"string","enum":["manual","automatic","team"],"default":"manual","description":"How the access was assigned to the manager.","example":"manual"}},"required":["managerId"]}}},"required":["id","companyId","created","entities","access"],"description":"A \"customer\" reference is like a folder containing one or more aggregations entities"}}}}}}},"/companies/{companyID}/references/:reference-id":{"patch":{"operationId":"references_modification","summary":"Update a reference","tags":["Reference"],"parameters":[{"schema":{"type":"string","format":"uuid","description":"The ID of the reference to retrieve","example":"e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6"},"required":true,"name":"reference-id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"tag":{"type":"string","nullable":true,"description":"The tag of the reference.","example":"VIP"},"entities":{"type":"array","nullable":true,"items":{"type":"object","properties":{"id":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c","readOnly":true},"referenceType":{"type":"string","enum":["customer","oldCustomer","prospect","relation"],"default":"customer","description":"The type of the aggregation entity.","example":"customer"}},"required":["id"]}},"access":{"type":"array","nullable":true,"items":{"type":"object","properties":{"managerId":{"type":"string","format":"uuid"},"primary":{"type":"boolean","default":false},"assignment":{"type":"string","enum":["manual","automatic","team"],"default":"manual"}},"required":["managerId"]}}}}}}},"responses":{"200":{"description":"success - a reference information","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The references ID."},"companyId":{"type":"string","format":"uuid","description":"The company in which the reference is part of."},"created":{"type":"string","nullable":true,"description":"The date of creation of the reference.","example":"2024-01-01T00:00:00.000Z"},"tag":{"type":"string","nullable":true,"description":"The tag of the reference.","example":"VIP"}},"required":["id","companyId","created"]}}}}}}},"/companies/{companyID}/managers/statistics":{"get":{"operationId":"manager_list_statistics","summary":"Manager list statistics","tags":["Manager"],"responses":{"200":{"description":"success - manager wide statistics","content":{"application/json":{"schema":{"type":"object","properties":{"count":{"type":"number","minimum":0,"example":10}},"required":["count"]}}}}}}},"/companies/{companyID}/managers":{"get":{"operationId":"manager_list","summary":"List of managers","tags":["Manager"],"parameters":[{"schema":{"type":"number","nullable":true,"default":0,"minimum":0,"example":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"number","nullable":true,"default":10,"minimum":1,"example":10},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"success - paginated list of managers","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Manager"}}}}}}},"post":{"operationId":"manager_creation","summary":"Create a new manager","tags":["Manager"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"The name of the manager","example":"Jean dupont"},"email":{"type":"string","format":"email","description":"The email of the manager","example":"jean.dupont@company.tld"},"claims":{"type":"array","items":{"type":"string","enum":["billing","managers_read","manager_invite","clients_invite","clients_reads","management"]},"minItems":1,"example":["billing","management"]}},"required":["name","email","claims"]}}}},"responses":{"200":{"description":"success - manager created","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Manager"},{"type":"object","properties":{"claims":{"type":"array","items":{"type":"string","enum":["billing","managers_read","manager_invite","clients_invite","clients_reads","management"]},"example":["billing"]}},"required":["claims"]}]}}}}}}},"/companies/{companyID}/managers/{id}":{"get":{"operationId":"manager_show","summary":"Get a manager by ID","description":"Retrieve complete information for a manager by their ID","tags":["Manager"],"parameters":[{"schema":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"success - manager details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManagerDetails"}}}},"404":{"description":"Manager not found"}}},"patch":{"operationId":"manager_update","summary":"Update a manager","description":"Update a manager by his id","tags":["Manager"],"parameters":[{"schema":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"Jean dupont"}},"required":["name"]}}}},"responses":{"200":{"description":"Manager updated successfully","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"name":{"type":"string","example":"Jean dupont"}},"required":["id","name"]}}}}}}},"/companies/{companyID}/assets":{"get":{"operationId":"asset_list","summary":"List assets","tags":["Assets"],"parameters":[{"schema":{"type":"number","nullable":true,"default":0,"minimum":0,"example":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"number","nullable":true,"default":10,"minimum":1,"example":10},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","format":"uuid","description":"Filter by product catalogue ID","example":"b1c2d3e4-f5a6-7890-abcd-ef1234567890"},"required":false,"name":"productCatalogueId","in":"query"}],"responses":{"200":{"description":"sucess - a paginated list of assets","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Asset"}}}}}}}},"/companies/{companyID}/assets/{asset_id}":{"get":{"operationId":"asset_informations","summary":"Asset Information","tags":["Assets"],"parameters":[{"schema":{"type":"string","format":"uuid","description":"The ID of the asset","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"asset_id","in":"path"}],"responses":{"200":{"description":"the asset information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Asset"}}}}}}},"/companies/{companyID}/assets/{asset_id}/transactions":{"get":{"operationId":"asset_transaction_list","summary":"List asset transactions","tags":["Assets"],"parameters":[{"schema":{"type":"string","format":"uuid","description":"The ID of the asset","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"asset_id","in":"path"},{"schema":{"type":"string","nullable":true,"description":"Retrieve transactions only after this date","example":"2024-01-01"},"required":false,"name":"from","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Retrieve transactions only before this date","example":"2024-12-31"},"required":false,"name":"to","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Retrieve transactions processed only after this date","example":"2024-01-01"},"required":false,"name":"processed_from","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Retrieve transactions processed only before this date","example":"2024-12-31"},"required":false,"name":"processed_to","in":"query"}],"responses":{"200":{"description":"A JSON array of asset transactions","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AssetTransaction"}}}}}}}},"/companies/{companyID}/assets/{asset_id}/investments":{"get":{"operationId":"asset_investments_list","summary":"List asset investments","tags":["Assets"],"parameters":[{"schema":{"type":"string","format":"uuid","description":"The ID of the asset","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"asset_id","in":"path"},{"schema":{"type":"string","nullable":true,"description":"Retrieve investments only after this date","example":"2024-01-01"},"required":false,"name":"from","in":"query"},{"schema":{"type":"string","nullable":true,"description":"Retrieve investments only before this date","example":"2024-12-31"},"required":false,"name":"to","in":"query"}],"responses":{"200":{"description":"A JSON array of asset investments","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Investment"}}}}}}}},"/companies/{companyID}/contracts":{"get":{"operationId":"contracts_company_contracts_list","summary":"List contracts for a company","tags":["Contract"],"parameters":[{"schema":{"type":"string","format":"uuid","example":"adfdfaca-48f0-4f3b-b30a-c6d97293090c"},"required":true,"name":"companyID","in":"path"},{"schema":{"type":"boolean","description":"list only favorites contracts","example":true},"required":true,"name":"available","in":"query"},{"schema":{"type":"number","nullable":true,"minimum":0,"default":0,"example":0},"required":false,"name":"offset","in":"query"},{"schema":{"type":"number","minimum":1,"default":10,"example":10},"required":false,"name":"limit","in":"query"}],"responses":{"200":{"description":"success - paginated list of contracts","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ContractCompany"}}}}}}}},"/companies/{companyID}/transactions":{"get":{"operationId":"transaction_list","summary":"List company transactions","tags":["Transactions"],"parameters":[{"schema":{"type":"number","nullable":true,"minimum":1,"default":1,"description":"Current pagination page","example":1},"required":false,"name":"page","in":"query"},{"schema":{"type":"number","minimum":1,"maximum":100,"default":
[...]
