openapi: 3.0.0
info:
  version: 0.x
  title: aggregated
  contact:
    email: dev@wealthcome.fr
    url: https://wealthcome.fr
servers:
- url: https://services.preproduction.wealthcome.fr/aggregated
  description: preproduction
- url: https://services.wealthcome.fr/aggregated
  description: production
tags:
- name: Company
  description: Company related endpoints
- name: Customer
  description: Customer related endpoints
- name: Task
  description: Task related endpoints
- name: Team
  description: Team related endpoints
security:
- BearerAuth:
  - Bearer
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
  schemas:
    Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Apple Paris
      required:
      - id
      - name
    Customer:
      type: object
      properties:
        id:
          type: string
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Jean dupont
        created:
          type: string
          description: The date of creation of the customer
          example: 2024-01-01T00:00:00.000Z
        updated:
          type: string
          description: The date of the last update of the customer
          example: 2024-01-01T00:00:00.000Z
        general:
          anyOf:
          - type: object
            nullable: true
            properties:
              entryDateIntoRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              originCustomerRelationship:
                type: string
                nullable: true
              contactCustomerRelationship:
                type: string
                nullable: true
              remoteOpening:
                type: boolean
                nullable: true
              dateLastMeeting:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              entryIntoRelationshipNote:
                type: string
                nullable: true
              gender:
                type: string
                nullable: true
                enum:
                - male
                - female
                default: male
              name:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              firstName:
                type: string
                nullable: true
              birthDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              birthZipCode:
                type: string
                nullable: true
              birthRegion:
                type: string
                nullable: true
              birthCity:
                type: string
                nullable: true
              birthName:
                type: string
                nullable: true
              deathDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              familySituation:
                type: string
                nullable: true
                enum:
                - single
                - inARelationship
                - married
                - civilUnion
                - divorced
                - separated
                - widowed
                - domesticPartnership
                - freeUnion
                - cohabitation
                - pendingDivorce
                - remarried
                - deceased
              nationality:
                type: string
                nullable: true
              matrimonialRegime:
                type: string
                nullable: true
              studiesLevel:
                type: string
                nullable: true
                enum:
                - none
                - certificate
                - highSchool
                - bachelor
                - master
                - doctorate
              occupation:
                type: string
                nullable: true
              occupationWording:
                type: string
                nullable: true
              retirementAge:
                type: number
                nullable: true
              annualIncome:
                anyOf:
                - type: string
                - type: number
                - nullable: true
              heritageOrigin:
                type: string
                nullable: true
              seniorAdvisor:
                type: string
                nullable: true
              secondaryAdvisor:
                type: string
                nullable: true
              dateEntryRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idCard:
                type: string
                nullable: true
              idNumber:
                type: string
                nullable: true
              issueDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              authority:
                type: string
                nullable: true
              expirationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idNIF:
                type: string
                nullable: true
              idMIF:
                type: string
                nullable: true
              taxResidence:
                type: string
                nullable: true
              customerClassificationMIF:
                type: string
                nullable: true
              classificationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              pep:
                type: boolean
                nullable: true
              usPerson:
                type: boolean
                nullable: true
              legalCapacity:
                type: string
                nullable: true
              tag:
                type: string
                nullable: true
              updated:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              homeAdress:
                type: string
                nullable: true
              complement:
                type: string
                nullable: true
              postalCode:
                type: string
                nullable: true
              note:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              secondaryNationality:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              professionalCategory:
                type: string
                nullable: true
          - type: object
            nullable: true
            properties:
              entryDateIntoRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              originCustomerRelationship:
                type: string
                nullable: true
              contactCustomerRelationship:
                type: string
                nullable: true
              remoteOpening:
                type: boolean
                nullable: true
              dateLastMeeting:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              entryIntoRelationshipNote:
                type: string
                nullable: true
              gender:
                type: string
                nullable: true
                enum:
                - male
                - female
                default: male
              name:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              firstName:
                type: string
                nullable: true
              birthDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              birthZipCode:
                type: string
                nullable: true
              birthRegion:
                type: string
                nullable: true
              birthCity:
                type: string
                nullable: true
              birthName:
                type: string
                nullable: true
              deathDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              familySituation:
                type: string
                nullable: true
                enum:
                - single
                - inARelationship
                - married
                - civilUnion
                - divorced
                - separated
                - widowed
                - domesticPartnership
                - freeUnion
                - cohabitation
                - pendingDivorce
                - remarried
                - deceased
              nationality:
                type: string
                nullable: true
              matrimonialRegime:
                type: string
                nullable: true
              studiesLevel:
                type: string
                nullable: true
                enum:
                - none
                - certificate
                - highSchool
                - bachelor
                - master
                - doctorate
              occupation:
                type: string
                nullable: true
              occupationWording:
                type: string
                nullable: true
              retirementAge:
                type: number
                nullable: true
              annualIncome:
                anyOf:
                - type: string
                - type: number
                - nullable: true
              heritageOrigin:
                type: string
                nullable: true
              seniorAdvisor:
                type: string
                nullable: true
              secondaryAdvisor:
                type: string
                nullable: true
              dateEntryRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idCard:
                type: string
                nullable: true
              idNumber:
                type: string
                nullable: true
              issueDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              authority:
                type: string
                nullable: true
              expirationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idNIF:
                type: string
                nullable: true
              idMIF:
                type: string
                nullable: true
              taxResidence:
                type: string
                nullable: true
              customerClassificationMIF:
                type: string
                nullable: true
              classificationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              pep:
                type: boolean
                nullable: true
              usPerson:
                type: boolean
                nullable: true
              legalCapacity:
                type: string
                nullable: true
              tag:
                type: string
                nullable: true
              updated:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              homeAdress:
                type: string
                nullable: true
              complement:
                type: string
                nullable: true
              postalCode:
                type: string
                nullable: true
              note:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              secondaryNationality:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              professionalCategory:
                type: string
                nullable: true
              information:
                anyOf:
                - type: object
                  properties:
                    socialReason:
                      type: string
                    contact:
                      type: string
                      nullable: true
                    firstAddress:
                      type: string
                      nullable: true
                    secondAddress:
                      type: string
                      nullable: true
                    postalCode:
                      type: string
                      nullable: true
                    city:
                      type: string
                      nullable: true
                    country:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    fax:
                      type: string
                      nullable: true
                    email:
                      type: string
                      nullable: true
                    website:
                      type: string
                      nullable: true
                - type: object
                  properties:
                    socialReason:
                      type: string
                      minLength: 1
                    holdingId:
                      type: string
                      nullable: true
                    siren:
                      type: string
                    siret:
                      type: string
                    ape:
                      type: string
                    creationDate:
                      type: string
                      nullable: true
                    legalForm:
                      type: string
                      nullable: true
                    socialCapital:
                      type: number
                    headOfficeAddress:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                    managers:
                      type: array
                      items:
                        type: object
                        properties:
                          managerID:
                            type: string
                          primary:
                            type: boolean
                        required:
                        - managerID
                        - primary
                    seniorAdvisor:
                      type: string
                    secondaryAdvisor:
                      type: string
                    entryDateIntoRelationship:
                      type: string
                      nullable: true
                    originCustomerRelationship:
                      type: string
                    contactCustomerRelationship:
                      type: string
                    remoteOpening:
                      type: boolean
                    dateLastMeeting:
                      type: string
                      nullable: true
                    entryIntoRelationshipNote:
                      type: string
                    ownership:
                      type: number
                      nullable: true
                    valuation:
                      type: number
                      nullable: true
                - nullable: true
              managers:
                type: object
                nullable: true
                properties:
                  lastNameFirstName:
                    type: string
                  function:
                    type: string
                  birthDate:
                    type: string
                    nullable: true
                  nationality:
                    type: string
                  personalAddress:
                    type: string
                  personalPhoneNumber:
                    type: string
                  personalEmailAddress:
                    type: string
                  shareholderInformation:
                    type: string
                  idCard:
                    type: string
                  idNumber:
                    type: string
              nbManagers:
                type: object
                nullable: true
                properties:
                  lastNameFirstName:
                    type: string
                  function:
                    type: string
                  birthDate:
                    type: string
                    nullable: true
                  nationality:
                    type: string
                  personalAddress:
                    type: string
                  personalPhoneNumber:
                    type: string
                  personalEmailAddress:
                    type: string
                  shareholderInformation:
                    type: string
                  idCard:
                    type: string
                  idNumber:
                    type: string
              bankAccounts:
                type: object
                nullable: true
                properties:
                  banks:
                    type: string
                  iban:
                    type: string
                  bankAccountNumbers:
                    type: string
                  bic:
                    type: string
              activities:
                type: object
                nullable: true
                properties:
                  mainActivities:
                    type: string
                  secondaryActivities:
                    type: string
                  clients:
                    type: string
                  suppliers:
                    type: string
                  competitors:
                    type: string
          - nullable: true
        details:
          type: object
          nullable: true
          properties:
            street:
              type: string
              nullable: true
            zipCode:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
            addressSupplement:
              type: string
              nullable: true
            workStreet:
              type: string
              nullable: true
            workZipCode:
              type: string
              nullable: true
            workCity:
              type: string
              nullable: true
            workAddressSupplement:
              type: string
              nullable: true
            otherStreet:
              type: string
              nullable: true
            otherZipCode:
              type: string
              nullable: true
            otherCity:
              type: string
              nullable: true
            otherAddressSupplement:
              type: string
              nullable: true
            firstPhoneNumber:
              type: string
              nullable: true
            secondPhoneNumber:
              type: string
              nullable: true
            personalEmail:
              type: string
              nullable: true
            otherEmail:
              type: string
              nullable: true
            fiscalAddress:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
            otherCountry:
              type: string
              nullable: true
            workCountry:
              type: string
              nullable: true
      required:
      - id
      - name
      - created
      - updated
    Team:
      type: object
      properties:
        name:
          type: string
          example: interns
        descritpion:
          type: string
          example: a team of interns
      required:
      - name
    Entity:
      type: object
      properties:
        id:
          type: string
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
          readOnly: true
        name:
          type: string
          example: Jean dupont
          readOnly: true
        created:
          type: string
          description: The date of creation of the customer
          example: 2024-01-01T00:00:00.000Z
          readOnly: true
        updated:
          type: string
          description: The date of the last update of the customer
          example: 2024-01-01T00:00:00.000Z
        general:
          anyOf:
          - type: object
            nullable: true
            properties:
              entryDateIntoRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              originCustomerRelationship:
                type: string
                nullable: true
              contactCustomerRelationship:
                type: string
                nullable: true
              remoteOpening:
                type: boolean
                nullable: true
              dateLastMeeting:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              entryIntoRelationshipNote:
                type: string
                nullable: true
              gender:
                type: string
                nullable: true
                enum:
                - male
                - female
                default: male
              name:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              firstName:
                type: string
                nullable: true
              birthDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              birthZipCode:
                type: string
                nullable: true
              birthRegion:
                type: string
                nullable: true
              birthCity:
                type: string
                nullable: true
              birthName:
                type: string
                nullable: true
              deathDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              familySituation:
                type: string
                nullable: true
                enum:
                - single
                - inARelationship
                - married
                - civilUnion
                - divorced
                - separated
                - widowed
                - domesticPartnership
                - freeUnion
                - cohabitation
                - pendingDivorce
                - remarried
                - deceased
              nationality:
                type: string
                nullable: true
              matrimonialRegime:
                type: string
                nullable: true
              studiesLevel:
                type: string
                nullable: true
                enum:
                - none
                - certificate
                - highSchool
                - bachelor
                - master
                - doctorate
              occupation:
                type: string
                nullable: true
              occupationWording:
                type: string
                nullable: true
              retirementAge:
                type: number
                nullable: true
              annualIncome:
                anyOf:
                - type: string
                - type: number
                - nullable: true
              heritageOrigin:
                type: string
                nullable: true
              seniorAdvisor:
                type: string
                nullable: true
              secondaryAdvisor:
                type: string
                nullable: true
              dateEntryRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idCard:
                type: string
                nullable: true
              idNumber:
                type: string
                nullable: true
              issueDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              authority:
                type: string
                nullable: true
              expirationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idNIF:
                type: string
                nullable: true
              idMIF:
                type: string
                nullable: true
              taxResidence:
                type: string
                nullable: true
              customerClassificationMIF:
                type: string
                nullable: true
              classificationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              pep:
                type: boolean
                nullable: true
              usPerson:
                type: boolean
                nullable: true
              legalCapacity:
                type: string
                nullable: true
              tag:
                type: string
                nullable: true
              updated:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              homeAdress:
                type: string
                nullable: true
              complement:
                type: string
                nullable: true
              postalCode:
                type: string
                nullable: true
              note:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              secondaryNationality:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              professionalCategory:
                type: string
                nullable: true
          - type: object
            nullable: true
            properties:
              entryDateIntoRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              originCustomerRelationship:
                type: string
                nullable: true
              contactCustomerRelationship:
                type: string
                nullable: true
              remoteOpening:
                type: boolean
                nullable: true
              dateLastMeeting:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              entryIntoRelationshipNote:
                type: string
                nullable: true
              gender:
                type: string
                nullable: true
                enum:
                - male
                - female
                default: male
              name:
                type: string
                nullable: true
              lastName:
                type: string
                nullable: true
              firstName:
                type: string
                nullable: true
              birthDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              birthZipCode:
                type: string
                nullable: true
              birthRegion:
                type: string
                nullable: true
              birthCity:
                type: string
                nullable: true
              birthName:
                type: string
                nullable: true
              deathDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              familySituation:
                type: string
                nullable: true
                enum:
                - single
                - inARelationship
                - married
                - civilUnion
                - divorced
                - separated
                - widowed
                - domesticPartnership
                - freeUnion
                - cohabitation
                - pendingDivorce
                - remarried
                - deceased
              nationality:
                type: string
                nullable: true
              matrimonialRegime:
                type: string
                nullable: true
              studiesLevel:
                type: string
                nullable: true
                enum:
                - none
                - certificate
                - highSchool
                - bachelor
                - master
                - doctorate
              occupation:
                type: string
                nullable: true
              occupationWording:
                type: string
                nullable: true
              retirementAge:
                type: number
                nullable: true
              annualIncome:
                anyOf:
                - type: string
                - type: number
                - nullable: true
              heritageOrigin:
                type: string
                nullable: true
              seniorAdvisor:
                type: string
                nullable: true
              secondaryAdvisor:
                type: string
                nullable: true
              dateEntryRelationship:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idCard:
                type: string
                nullable: true
              idNumber:
                type: string
                nullable: true
              issueDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              authority:
                type: string
                nullable: true
              expirationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              idNIF:
                type: string
                nullable: true
              idMIF:
                type: string
                nullable: true
              taxResidence:
                type: string
                nullable: true
              customerClassificationMIF:
                type: string
                nullable: true
              classificationDate:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              pep:
                type: boolean
                nullable: true
              usPerson:
                type: boolean
                nullable: true
              legalCapacity:
                type: string
                nullable: true
              tag:
                type: string
                nullable: true
              updated:
                anyOf:
                - type: string
                - type: string
                - nullable: true
              homeAdress:
                type: string
                nullable: true
              complement:
                type: string
                nullable: true
              postalCode:
                type: string
                nullable: true
              note:
                type: string
                nullable: true
              city:
                type: string
                nullable: true
              secondaryNationality:
                type: string
                nullable: true
              country:
                type: string
                nullable: true
              professionalCategory:
                type: string
                nullable: true
              information:
                anyOf:
                - type: object
                  properties:
                    socialReason:
                      type: string
                    contact:
                      type: string
                      nullable: true
                    firstAddress:
                      type: string
                      nullable: true
                    secondAddress:
                      type: string
                      nullable: true
                    postalCode:
                      type: string
                      nullable: true
                    city:
                      type: string
                      nullable: true
                    country:
                      type: string
                      nullable: true
                    phone:
                      type: string
                      nullable: true
                    fax:
                      type: string
                      nullable: true
                    email:
                      type: string
                      nullable: true
                    website:
                      type: string
                      nullable: true
                - type: object
                  properties:
                    socialReason:
                      type: string
                      minLength: 1
                    holdingId:
                      type: string
                      nullable: true
                    siren:
                      type: string
                    siret:
                      type: string
                    ape:
                      type: string
                    creationDate:
                      type: string
                      nullable: true
                    legalForm:
                      type: string
                      nullable: true
                    socialCapital:
                      type: number
                    headOfficeAddress:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                    managers:
                      type: array
                      items:
                        type: object
                        properties:
                          managerID:
                            type: string
                          primary:
                            type: boolean
                        required:
                        - managerID
                        - primary
                    seniorAdvisor:
                      type: string
                    secondaryAdvisor:
                      type: string
                    entryDateIntoRelationship:
                      type: string
                      nullable: true
                    originCustomerRelationship:
                      type: string
                    contactCustomerRelationship:
                      type: string
                    remoteOpening:
                      type: boolean
                    dateLastMeeting:
                      type: string
                      nullable: true
                    entryIntoRelationshipNote:
                      type: string
                    ownership:
                      type: number
                      nullable: true
                    valuation:
                      type: number
                      nullable: true
                - nullable: true
              managers:
                type: object
                nullable: true
                properties:
                  lastNameFirstName:
                    type: string
                  function:
                    type: string
                  birthDate:
                    type: string
                    nullable: true
                  nationality:
                    type: string
                  personalAddress:
                    type: string
                  personalPhoneNumber:
                    type: string
                  personalEmailAddress:
                    type: string
                  shareholderInformation:
                    type: string
                  idCard:
                    type: string
                  idNumber:
                    type: string
              nbManagers:
                type: object
                nullable: true
                properties:
                  lastNameFirstName:
                    type: string
                  function:
                    type: string
                  birthDate:
                    type: string
                    nullable: true
                  nationality:
                    type: string
                  personalAddress:
                    type: string
                  personalPhoneNumber:
                    type: string
                  personalEmailAddress:
                    type: string
                  shareholderInformation:
                    type: string
                  idCard:
                    type: string
                  idNumber:
                    type: string
              bankAccounts:
                type: object
                nullable: true
                properties:
                  banks:
                    type: string
                  iban:
                    type: string
                  bankAccountNumbers:
                    type: string
                  bic:
                    type: string
              activities:
                type: object
                nullable: true
                properties:
                  mainActivities:
                    type: string
                  secondaryActivities:
                    type: string
                  clients:
                    type: string
                  suppliers:
                    type: string
                  competitors:
                    type: string
          - nullable: true
          description: |-
            General information about the entity
             This field is treated as a scalar
        details:
          type: object
          nullable: true
          properties:
            street:
              type: string
              nullable: true
            zipCode:
              type: string
              nullable: true
            city:
              type: string
              nullable: true
            addressSupplement:
              type: string
              nullable: true
            workStreet:
              type: string
              nullable: true
            workZipCode:
              type: string
              nullable: true
            workCity:
              type: string
              nullable: true
            workAddressSupplement:
              type: string
              nullable: true
            otherStreet:
              type: string
              nullable: true
            otherZipCode:
              type: string
              nullable: true
            otherCity:
              type: string
              nullable: true
            otherAddressSupplement:
              type: string
              nullable: true
            firstPhoneNumber:
              type: string
              nullable: true
            secondPhoneNumber:
              type: string
              nullable: true
            personalEmail:
              type: string
              nullable: true
            otherEmail:
              type: string
              nullable: true
            fiscalAddress:
              type: string
              nullable: true
            country:
              type: string
              nullable: true
            otherCountry:
              type: string
              nullable: true
            workCountry:
              type: string
              nullable: true
          description: |-
            Detailed information about the entity
             This field is treated as a scalar
        type:
          type: string
          nullable: true
          enum:
          - person
          - company
      required:
      - id
      - name
      - created
      - updated
    Parent Company:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        name:
          type: string
          example: Apple Paris
        created:
          type: string
          nullable: true
          readOnly: true
        updated:
          type: string
          nullable: true
      required:
      - id
      - name
      - created
      - updated
  parameters: {}
paths:
  /companies:
    get:
      operationId: company_list
      summary: List companies
      tags:
      - Company
      security:
      - Bearer: []
      parameters:
      - schema:
          type: number
          nullable: true
          minimum: 0
          default: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          minimum: 1
          maximum: 1000
          default: 10
          example: 10
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: sucess - a paginated list of companies
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
  /companies/statistics:
    get:
      operationId: company_list_statistics
      summary: Retrieve list companies statistics
      tags:
      - Company
      responses:
        '200':
          description: success - list wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}:
    get:
      operationId: company_retrieve
      tags:
      - Company
      summary: Retrieve a company information
      parameters:
      - schema:
          type: string
          minLength: 1
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: company-id
        in: path
      responses:
        '200':
          description: success - company information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    patch:
      tags:
      - Company
      operationId: company_update
      summary: Update a company information
      parameters:
      - schema:
          type: string
          format: uuid
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: company-id
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
              required:
              - name
      responses:
        '200':
          description: success - company updated information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
    delete:
      tags:
      - Company
      operationId: company_deletion
      summary: Delete a company
      description: Deletes a company and logs the deletion
      parameters:
      - schema:
          type: string
          format: uuid
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: company-id
        in: path
      responses:
        '200':
          description: Company deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
  /companies/{company-id}/customers/statistics:
    get:
      deprecated: true
      tags:
      - Customer
      operationId: customer_list_statistics
      summary: Customer list statistics
      responses:
        '200':
          description: success - customers wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}/customers:
    get:
      operationId: customer_list
      tags:
      - Customer
      deprecated: true
      summary: List of customers
      parameters:
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_to
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers updated after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: updated_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers updated before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: updated_to
        in: query
      responses:
        '200':
          description: success - paginated list of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
  /companies/{company-id}/teams/statistics:
    get:
      operationId: team_list_statistics
      tags:
      - Team
      summary: Team list statistics
      responses:
        '200':
          description: succes - retreive teams list wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}/teams:
    get:
      operationId: team_list
      tags:
      - Team
      summary: Team list
      parameters:
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: Retrieve the list of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'
    put:
      operationId: team_creation
      summary: Team creation
      tags:
      - Team
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: interns
                description:
                  type: string
                  example: a team of interns
              required:
              - name
      responses:
        '200':
          description: the created team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /companies/{company-id}/teams/{teamName}:
    get:
      operationId: team_retrieve
      summary: Team retrieval
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      responses:
        '200':
          description: the team information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    patch:
      operationId: team_update
      summary: Team update
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: interns
                description:
                  type: string
                  example: a team of interns
              required:
              - name
      responses:
        '200':
          description: updated team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    delete:
      summary: Team deletion
      operationId: team_deletion
      tags:
      - Team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      responses:
        '200':
          description: Delete a team
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
  /companies/{company-id}/teams/{teamName}/statistics:
    get:
      operationId: team_statistics
      tags:
      - Team
      summary: Statistics of a team
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      responses:
        '200':
          description: Retrieve team statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  customers:
                    type: number
                    description: Number of customers managed by the team
                    minimum: 0
                    example: 10
                  contracts:
                    type: number
                    description: Number of contract managed by the team
                    minimum: 0
                    example: 10
                  members:
                    type: number
                    description: Number of members in the team
                    minimum: 0
                    example: 10
                  leaders:
                    type: number
                    description: Number of leaders in the team
                    minimum: 0
                    example: 10
                  subordinate:
                    type: number
                    description: Number of subordinates in the team
                    minimum: 0
                    example: 10
                required:
                - customers
                - contracts
                - members
                - leaders
                - subordinate
  /companies/{company-id}/teams/{teamName}/members:
    get:
      operationId: team_member_list
      tags:
      - Team
      summary: Team member list
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      responses:
        '200':
          description: Retrieve the list of team members
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                    name:
                      type: string
                      example: Jean dupont
                    email:
                      type: string
                      example: jean.dupont@company.tld
                    leader:
                      type: boolean
                  required:
                  - id
                  - name
                  - email
                  - leader
    put:
      tags:
      - Team
      summary: Team Member Add
      operationId: team_member_add
      parameters:
      - schema:
          type: string
          example: interns
        required: true
        name: teamName
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  managerId:
                    type: string
                    example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
                  leader:
                    type: boolean
                    example: true
                required:
                - managerId
                - leader
      responses:
        '204':
          description: Manager added to the team
  /companies/{company-id}/entities/statistics:
    get:
      tags:
      - Entity
      operationId: entities_list_statistics
      summary: entities list statistics
      responses:
        '200':
          description: success - entities wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}/entities:
    get:
      operationId: entities_list
      tags:
      - Entity
      summary: List of entities
      parameters:
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_to
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers updated after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: updated_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers updated before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: updated_to
        in: query
      responses:
        '200':
          description: success - paginated list of entities
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Entity'
  /companies/{company-id}/entities/{entityID}:
    get:
      operationId: entity_informations
      summary: Get entity informations
      tags:
      - Entity
      parameters:
      - schema:
          type: string
          format: uuid
          description: The ID of the entity to update
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: entityID
        in: path
      responses:
        '200':
          description: success - entity informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
    patch:
      operationId: entity_modification
      summary: Update entity informations
      tags:
      - Entity
      parameters:
      - schema:
          type: string
          format: uuid
          description: The ID of the entity to update
          example: adfdfaca-48f0-4f3b-b30a-c6d97293090c
        required: true
        name: entityID
        in: path
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                general:
                  anyOf:
                  - type: object
                    nullable: true
                    properties:
                      entryDateIntoRelationship:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      originCustomerRelationship:
                        type: string
                        nullable: true
                      contactCustomerRelationship:
                        type: string
                        nullable: true
                      remoteOpening:
                        type: boolean
                        nullable: true
                      dateLastMeeting:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      entryIntoRelationshipNote:
                        type: string
                        nullable: true
                      gender:
                        type: string
                        nullable: true
                        enum:
                        - male
                        - female
                        default: male
                      name:
                        type: string
                        nullable: true
                      lastName:
                        type: string
                        nullable: true
                      firstName:
                        type: string
                        nullable: true
                      birthDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      birthZipCode:
                        type: string
                        nullable: true
                      birthRegion:
                        type: string
                        nullable: true
                      birthCity:
                        type: string
                        nullable: true
                      birthName:
                        type: string
                        nullable: true
                      deathDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      familySituation:
                        type: string
                        nullable: true
                        enum:
                        - single
                        - inARelationship
                        - married
                        - civilUnion
                        - divorced
                        - separated
                        - widowed
                        - domesticPartnership
                        - freeUnion
                        - cohabitation
                        - pendingDivorce
                        - remarried
                        - deceased
                      nationality:
                        type: string
                        nullable: true
                      matrimonialRegime:
                        type: string
                        nullable: true
                      studiesLevel:
                        type: string
                        nullable: true
                        enum:
                        - none
                        - certificate
                        - highSchool
                        - bachelor
                        - master
                        - doctorate
                      occupation:
                        type: string
                        nullable: true
                      occupationWording:
                        type: string
                        nullable: true
                      retirementAge:
                        type: number
                        nullable: true
                      annualIncome:
                        anyOf:
                        - type: string
                        - type: number
                        - nullable: true
                      heritageOrigin:
                        type: string
                        nullable: true
                      seniorAdvisor:
                        type: string
                        nullable: true
                      secondaryAdvisor:
                        type: string
                        nullable: true
                      dateEntryRelationship:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      idCard:
                        type: string
                        nullable: true
                      idNumber:
                        type: string
                        nullable: true
                      issueDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      authority:
                        type: string
                        nullable: true
                      expirationDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      idNIF:
                        type: string
                        nullable: true
                      idMIF:
                        type: string
                        nullable: true
                      taxResidence:
                        type: string
                        nullable: true
                      customerClassificationMIF:
                        type: string
                        nullable: true
                      classificationDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      pep:
                        type: boolean
                        nullable: true
                      usPerson:
                        type: boolean
                        nullable: true
                      legalCapacity:
                        type: string
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                      updated:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      homeAdress:
                        type: string
                        nullable: true
                      complement:
                        type: string
                        nullable: true
                      postalCode:
                        type: string
                        nullable: true
                      note:
                        type: string
                        nullable: true
                      city:
                        type: string
                        nullable: true
                      secondaryNationality:
                        type: string
                        nullable: true
                      country:
                        type: string
                        nullable: true
                      professionalCategory:
                        type: string
                        nullable: true
                  - type: object
                    nullable: true
                    properties:
                      entryDateIntoRelationship:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      originCustomerRelationship:
                        type: string
                        nullable: true
                      contactCustomerRelationship:
                        type: string
                        nullable: true
                      remoteOpening:
                        type: boolean
                        nullable: true
                      dateLastMeeting:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      entryIntoRelationshipNote:
                        type: string
                        nullable: true
                      gender:
                        type: string
                        nullable: true
                        enum:
                        - male
                        - female
                        default: male
                      name:
                        type: string
                        nullable: true
                      lastName:
                        type: string
                        nullable: true
                      firstName:
                        type: string
                        nullable: true
                      birthDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      birthZipCode:
                        type: string
                        nullable: true
                      birthRegion:
                        type: string
                        nullable: true
                      birthCity:
                        type: string
                        nullable: true
                      birthName:
                        type: string
                        nullable: true
                      deathDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      familySituation:
                        type: string
                        nullable: true
                        enum:
                        - single
                        - inARelationship
                        - married
                        - civilUnion
                        - divorced
                        - separated
                        - widowed
                        - domesticPartnership
                        - freeUnion
                        - cohabitation
                        - pendingDivorce
                        - remarried
                        - deceased
                      nationality:
                        type: string
                        nullable: true
                      matrimonialRegime:
                        type: string
                        nullable: true
                      studiesLevel:
                        type: string
                        nullable: true
                        enum:
                        - none
                        - certificate
                        - highSchool
                        - bachelor
                        - master
                        - doctorate
                      occupation:
                        type: string
                        nullable: true
                      occupationWording:
                        type: string
                        nullable: true
                      retirementAge:
                        type: number
                        nullable: true
                      annualIncome:
                        anyOf:
                        - type: string
                        - type: number
                        - nullable: true
                      heritageOrigin:
                        type: string
                        nullable: true
                      seniorAdvisor:
                        type: string
                        nullable: true
                      secondaryAdvisor:
                        type: string
                        nullable: true
                      dateEntryRelationship:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      idCard:
                        type: string
                        nullable: true
                      idNumber:
                        type: string
                        nullable: true
                      issueDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      authority:
                        type: string
                        nullable: true
                      expirationDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      idNIF:
                        type: string
                        nullable: true
                      idMIF:
                        type: string
                        nullable: true
                      taxResidence:
                        type: string
                        nullable: true
                      customerClassificationMIF:
                        type: string
                        nullable: true
                      classificationDate:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      pep:
                        type: boolean
                        nullable: true
                      usPerson:
                        type: boolean
                        nullable: true
                      legalCapacity:
                        type: string
                        nullable: true
                      tag:
                        type: string
                        nullable: true
                      updated:
                        anyOf:
                        - type: string
                        - type: string
                        - nullable: true
                      homeAdress:
                        type: string
                        nullable: true
                      complement:
                        type: string
                        nullable: true
                      postalCode:
                        type: string
                        nullable: true
                      note:
                        type: string
                        nullable: true
                      city:
                        type: string
                        nullable: true
                      secondaryNationality:
                        type: string
                        nullable: true
                      country:
                        type: string
                        nullable: true
                      professionalCategory:
                        type: string
                        nullable: true
                      information:
                        anyOf:
                        - type: object
                          properties:
                            socialReason:
                              type: string
                            contact:
                              type: string
                              nullable: true
                            firstAddress:
                              type: string
                              nullable: true
                            secondAddress:
                              type: string
                              nullable: true
                            postalCode:
                              type: string
                              nullable: true
                            city:
                              type: string
                              nullable: true
                            country:
                              type: string
                              nullable: true
                            phone:
                              type: string
                              nullable: true
                            fax:
                              type: string
                              nullable: true
                            email:
                              type: string
                              nullable: true
                            website:
                              type: string
                              nullable: true
                        - type: object
                          properties:
                            socialReason:
                              type: string
                              minLength: 1
                            holdingId:
                              type: string
                              nullable: true
                            siren:
                              type: string
                            siret:
                              type: string
                            ape:
                              type: string
                            creationDate:
                              type: string
                              nullable: true
                            legalForm:
                              type: string
                              nullable: true
                            socialCapital:
                              type: number
                            headOfficeAddress:
                              type: string
                            phone:
                              type: string
                            email:
                              type: string
                            managers:
                              type: array
                              items:
                                type: object
                                properties:
                                  managerID:
                                    type: string
                                  primary:
                                    type: boolean
                                required:
                                - managerID
                                - primary
                            seniorAdvisor:
                              type: string
                            secondaryAdvisor:
                              type: string
                            entryDateIntoRelationship:
                              type: string
                              nullable: true
                            originCustomerRelationship:
                              type: string
                            contactCustomerRelationship:
                              type: string
                            remoteOpening:
                              type: boolean
                            dateLastMeeting:
                              type: string
                              nullable: true
                            entryIntoRelationshipNote:
                              type: string
                            ownership:
                              type: number
                              nullable: true
                            valuation:
                              type: number
                              nullable: true
                        - nullable: true
                      managers:
                        type: object
                        nullable: true
                        properties:
                          lastNameFirstName:
                            type: string
                          function:
                            type: string
                          birthDate:
                            type: string
                            nullable: true
                          nationality:
                            type: string
                          personalAddress:
                            type: string
                          personalPhoneNumber:
                            type: string
                          personalEmailAddress:
                            type: string
                          shareholderInformation:
                            type: string
                          idCard:
                            type: string
                          idNumber:
                            type: string
                      nbManagers:
                        type: object
                        nullable: true
                        properties:
                          lastNameFirstName:
                            type: string
                          function:
                            type: string
                          birthDate:
                            type: string
                            nullable: true
                          nationality:
                            type: string
                          personalAddress:
                            type: string
                          personalPhoneNumber:
                            type: string
                          personalEmailAddress:
                            type: string
                          shareholderInformation:
                            type: string
                          idCard:
                            type: string
                          idNumber:
                            type: string
                      bankAccounts:
                        type: object
                        nullable: true
                        properties:
                          banks:
                            type: string
                          iban:
                            type: string
                          bankAccountNumbers:
                            type: string
                          bic:
                            type: string
                      activities:
                        type: object
                        nullable: true
                        properties:
                          mainActivities:
                            type: string
                          secondaryActivities:
                            type: string
                          clients:
                            type: string
                          suppliers:
                            type: string
                          competitors:
                            type: string
                  - nullable: true
                  description: |-
                    General information about the entity
                     This field is treated as a scalar
                details:
                  type: object
                  nullable: true
                  properties:
                    street:
                      type: string
                      nullable: true
                    zipCode:
                      type: string
                      nullable: true
                    city:
                      type: string
                      nullable: true
                    addressSupplement:
                      type: string
                      nullable: true
                    workStreet:
                      type: string
                      nullable: true
                    workZipCode:
                      type: string
                      nullable: true
                    workCity:
                      type: string
                      nullable: true
                    workAddressSupplement:
                      type: string
                      nullable: true
                    otherStreet:
                      type: string
                      nullable: true
                    otherZipCode:
                      type: string
                      nullable: true
                    otherCity:
                      type: string
                      nullable: true
                    otherAddressSupplement:
                      type: string
                      nullable: true
                    firstPhoneNumber:
                      type: string
                      nullable: true
                    secondPhoneNumber:
                      type: string
                      nullable: true
                    personalEmail:
                      type: string
                      nullable: true
                    otherEmail:
                      type: string
                      nullable: true
                    fiscalAddress:
                      type: string
                      nullable: true
                    country:
                      type: string
                      nullable: true
                    otherCountry:
                      type: string
                      nullable: true
                    workCountry:
                      type: string
                      nullable: true
                  description: |-
                    Detailed information about the entity
                     This field is treated as a scalar
      responses:
        '200':
          description: success - entity informations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entity'
  /companies/{company-id}/references/statistics:
    get:
      tags:
      - Reference
      operationId: customer_references_list_statistics
      summary: Customer references list statistics
      responses:
        '200':
          description: success - customer references wide statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    minimum: 0
                    example: 10
                required:
                - count
  /companies/{company-id}/references:
    get:
      operationId: references_list
      tags:
      - Reference
      summary: List of reference
      parameters:
      - schema:
          type: number
          nullable: true
          default: 0
          minimum: 0
          example: 0
        required: false
        name: offset
        in: query
      - schema:
          type: number
          nullable: true
          default: 10
          minimum: 1
          example: 10
        required: false
        name: limit
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created after this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_from
        in: query
      - schema:
          type: string
          nullable: true
          description: Filter customers created before this date
          example: 2024-01-01T00:00:00.000Z
        required: false
        name: creation_to
        in: query
      responses:
        '200':
          description: success - paginated list of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: The references ID.
                    companyId:
                      type: string
                      format: uuid
                      description: The company in which the reference is part of.
                    created:
                      type: string
                      nullable: true
                      description: The date of creation of the reference.
                      example: 2024-01-01T00:00:00.000Z
                    tag:
                      type: string
                      nullable: true
                      description: The tag of the reference.
                      example: VIP
                    entities:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            nullable: true
                            format: uuid
                            description: The ID of the aggregation entity.
                            example: e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6
                          type:
                            type: string
                            nullable: true
                            enum:
                            - customer
                            - prospect
                            - relation
                            description: The type of the aggregation entity.
                            example: customer
                    access:
                      type: array
                      items:
                        type: object
                        properties:
                          managerId:
                            type: string
                            format: uuid
                            description: The ID of the manager who has access to the reference.
                            example: e1f2d3c4-b5a6-7b8c-9d0e-f1a2b3c4d5e6
                          primary:
                            type: boolean
                            default: false
                            description: Whether the manager is the primary contact for the reference.
                            example: true
                        required:
                        - managerId
                  required:
                  - id
                  - companyId
                  - created
                  - entities
                  - access
                  description: A "customer" reference is like a folder containing one or more aggregations entities
    put:
      operationId: references_creation
      tags:
      - Reference
      summary: Create a reference
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                companyId:
                  type: string
                  format: uuid
                  description: The company in which the reference is part of.
                tag:
                  type: string
                  nullable: true
                  description: The tag of the reference.
                  example: VIP
                entities:
                  type: array
                  items:
                    type: object
                    properties:
                      general:
                        anyOf:
                        - type: object
                          nullable: true
                          properties:
                            entryDateIntoRelationship:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            originCustomerRelationship:
                              type: string
                              nullable: true
                            contactCustomerRelationship:
                              type: string
                              nullable: true
                            remoteOpening:
                              type: boolean
                              nullable: true
                            dateLastMeeting:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            entryIntoRelationshipNote:
                              type: string
                              nullable: true
                            gender:
                              type: string
                              nullable: true
                              enum:
                              - male
                              - female
                              default: male
                            name:
                              type: string
                              nullable: true
                            lastName:
                              type: string
                              nullable: true
                            firstName:
                              type: string
                              nullable: true
                            birthDate:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            birthZipCode:
                              type: string
                              nullable: true
                            birthRegion:
                              type: string
                              nullable: true
                            birthCity:
                              type: string
                              nullable: true
                            birthName:
                              type: string
                              nullable: true
                            deathDate:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            familySituation:
                              type: string
                              nullable: true
                              enum:
                              - single
                              - inARelationship
                              - married
                              - civilUnion
                              - divorced
                              - separated
                              - widowed
                              - domesticPartnership
                              - freeUnion
                              - cohabitation
                              - pendingDivorce
                              - remarried
                              - deceased
                            nationality:
                              type: string
                              nullable: true
                            matrimonialRegime:
                              type: string
                              nullable: true
                            studiesLevel:
                              type: string
                              nullable: true
                              enum:
                              - none
                              - certificate
                              - highSchool
                              - bachelor
                              - master
                              - doctorate
                            occupation:
                              type: string
                              nullable: true
                            occupationWording:
                              type: string
                              nullable: true
                            retirementAge:
                              type: number
                              nullable: true
                            annualIncome:
                              anyOf:
                              - type: string
                              - type: number
                              - nullable: true
                            heritageOrigin:
                              type: string
                              nullable: true
                            seniorAdvisor:
                              type: string
                              nullable: true
                            secondaryAdvisor:
                              type: string
                              nullable: true
                            dateEntryRelationship:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            idCard:
                              type: string
                              nullable: true
                            idNumber:
                              type: string
                              nullable: true
                            issueDate:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            authority:
                              type: string
                              nullable: true
                            expirationDate:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            idNIF:
                              type: string
                              nullable: true
                            idMIF:
                              type: string
                              nullable: true
                            taxResidence:
                              type: string
                              nullable: true
                            customerClassificationMIF:
                              type: string
                              nullable: true
                            classificationDate:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            pep:
                              type: boolean
                              nullable: true
                            usPerson:
                              type: boolean
                              nullable: true
                            legalCapacity:
                              type: string
                              nullable: true
                            tag:
                              type: string
                              nullable: true
                            updated:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            homeAdress:
                              type: string
                              nullable: true
                            complement:
                              type: string
                              nullable: true
                            postalCode:
                              type: string
                              nullable: true
                            note:
                              type: string
                              nullable: true
                            city:
                              type: string
                              nullable: true
                            secondaryNationality:
                              type: string
                              nullable: true
                            country:
                              type: string
                              nullable: true
                            professionalCategory:
                              type: string
                              nullable: true
                        - type: object
                          nullable: true
                          properties:
                            entryDateIntoRelationship:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            originCustomerRelationship:
                              type: string
                              nullable: true
                            contactCustomerRelationship:
                              type: string
                              nullable: true
                            remoteOpening:
                              type: boolean
                              nullable: true
                            dateLastMeeting:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            entryIntoRelationshipNote:
                              type: string
                              nullable: true
                            gender:
                              type: string
                              nullable: true
                              enum:
                              - male
                              - female
                              default: male
                            name:
                              type: string
                              nullable: true
                            lastName:
                              type: string
                              nullable: true
                            firstName:
                              type: string
                              nullable: true
                            birthDate:
                              anyOf:
                              - type: string
                              - type: string
                              - nullable: true
                            birthZipCode:
                              type: string
                              nullable: true
                            birthRegion:
[...]
