{
	"openapi": "3.0.0",
	"info": {
		"version": "1.0.0",
		"title": "authentication-layer"
	},
	"servers": [
		{
			"url": "https://services.wealthcome.fr",
			"description": "production"
		}
	],
	"components": {
		"schemas": {},
		"parameters": {}
	},
	"paths": {
		"/applications": {
			"post": {
				"summary": "Create a new application",
				"tags": [
					"Applications"
				],
				"description": "Creates a new application with an associated AppRole and credentials.",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"name": {
										"type": "string"
									}
								},
								"required": [
									"name"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Application created successfully",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string"
										},
										"id": {
											"type": "string"
										},
										"credentials": {
											"type": "object",
											"properties": {
												"roleID": {
													"type": "string"
												},
												"secretID": {
													"type": "string"
												}
											},
											"required": [
												"roleID",
												"secretID"
											]
										}
									},
									"required": [
										"name",
										"id",
										"credentials"
									]
								}
							}
						}
					}
				}
			}
		},
		"/applications/token": {
			"post": {
				"summary": "Generate a token for an application",
				"tags": [
					"Applications"
				],
				"description": "Generates a Vault token for an application using its AppRole credentials.",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"roleID": {
										"type": "string"
									},
									"secretID": {
										"type": "string"
									}
								},
								"required": [
									"roleID",
									"secretID"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Token generated successfully",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"token": {
											"type": "string"
										}
									},
									"required": [
										"token"
									]
								}
							}
						}
					}
				}
			}
		}
	}
}
